@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
.my-reward-sec {
  padding-top: 20px;
  padding-bottom: 80px; }
  @media (max-width: 1679px) {
    .my-reward-sec {
      padding-bottom: 60px; } }
  @media (max-width: 991px) {
    .my-reward-sec {
      padding-bottom: 40px; } }
  .my-reward-sec .sec-title {
    margin-bottom: 30px; }
    @media (max-width: 1679px) {
      .my-reward-sec .sec-title {
        margin-bottom: 20px; } }
    .my-reward-sec .sec-title h2 {
      margin-bottom: 0;
      font-size: 24px;
      color: #101B25;
      font-weight: 500;
      font-family: "Instrument Sans", sans-serif; }
      @media (max-width: 1679px) {
        .my-reward-sec .sec-title h2 {
          font-size: 22px; } }
      @media (max-width: 1481px) {
        .my-reward-sec .sec-title h2 {
          font-size: 20px; } }
      @media (max-width: 579px) {
        .my-reward-sec .sec-title h2 {
          font-size: 18px; } }
  .my-reward-sec .reward-tab-btn-wrapper {
    border-bottom: solid 1px #F4F4F4;
    display: flex;
    margin-bottom: 25px;
    overflow-y: auto; }
    .my-reward-sec .reward-tab-btn-wrapper .tab-btn {
      border: none;
      background-color: #fff;
      font-size: 14px;
      color: #101B25;
      font-weight: 500;
      padding: 12px 20px;
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      min-width: 180px;
      font-weight: 500;
      margin-right: 5px;
      white-space: nowrap; }
      @media (max-width: 1679px) {
        .my-reward-sec .reward-tab-btn-wrapper .tab-btn {
          min-width: 150px; } }
      @media (max-width: 1199px) {
        .my-reward-sec .reward-tab-btn-wrapper .tab-btn {
          font-size: 13px; } }
      @media (max-width: 991px) {
        .my-reward-sec .reward-tab-btn-wrapper .tab-btn {
          min-width: auto; } }
      @media (max-width: 579px) {
        .my-reward-sec .reward-tab-btn-wrapper .tab-btn {
          padding: 12px 15px; } }
      .my-reward-sec .reward-tab-btn-wrapper .tab-btn img {
        flex-shrink: 0;
        margin-right: 8px;
        max-width: 14px;
        max-height: 14px; }
      .my-reward-sec .reward-tab-btn-wrapper .tab-btn:after {
        position: absolute;
        width: 100%;
        height: 2px;
        background: #5090cc;
        content: "";
        left: 0;
        bottom: 0;
        opacity: 0;
        transition: .3s; }
      .my-reward-sec .reward-tab-btn-wrapper .tab-btn.active, .my-reward-sec .reward-tab-btn-wrapper .tab-btn:hover {
        color: #5090cc; }
        .my-reward-sec .reward-tab-btn-wrapper .tab-btn.active img, .my-reward-sec .reward-tab-btn-wrapper .tab-btn:hover img {
          filter: brightness(0) saturate(100%) invert(48%) sepia(80%) saturate(324%) hue-rotate(167deg) brightness(94%) contrast(93%); }
        .my-reward-sec .reward-tab-btn-wrapper .tab-btn.active:after, .my-reward-sec .reward-tab-btn-wrapper .tab-btn:hover:after {
          opacity: 1; }
  .my-reward-sec .rewards-tab-outer .my-rewards-tab .my-rewards-col {
    margin-bottom: 20px; }
    @media (max-width: 1481px) {
      .my-reward-sec .rewards-tab-outer .my-rewards-tab .my-rewards-col {
        margin-bottom: 15px; } }
  .my-reward-sec .rewards-tab-outer .my-rewards-tab .my-rewards-card {
    border: solid 1px #0000001A;
    border-radius: 14px;
    padding: 30px 30px 13px;
    height: 100%; }
    @media (max-width: 1679px) {
      .my-reward-sec .rewards-tab-outer .my-rewards-tab .my-rewards-card {
        padding: 20px 25px 13px; } }
    @media (max-width: 1481px) {
      .my-reward-sec .rewards-tab-outer .my-rewards-tab .my-rewards-card {
        padding: 16px 25px 13px; } }
    @media (max-width: 579px) {
      .my-reward-sec .rewards-tab-outer .my-rewards-tab .my-rewards-card {
        padding: 15px 20px 13px; } }
    .my-reward-sec .rewards-tab-outer .my-rewards-tab .my-rewards-card .data-row .icon {
      flex-shrink: 0;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #ECEDEF;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-right: 12px; }
      @media (max-width: 1679px) {
        .my-reward-sec .rewards-tab-outer .my-rewards-tab .my-rewards-card .data-row .icon {
          width: 44px;
          height: 44px; } }
      @media (max-width: 579px) {
        .my-reward-sec .rewards-tab-outer .my-rewards-tab .my-rewards-card .data-row .icon {
          width: 40px;
          height: 40px; } }
      @media (max-width: 1679px) {
        .my-reward-sec .rewards-tab-outer .my-rewards-tab .my-rewards-card .data-row .icon img {
          max-width: 21px;
          max-height: 21px; } }
    .my-reward-sec .rewards-tab-outer .my-rewards-tab .my-rewards-card .data-row .txt-data p {
      font-size: 14px;
      color: #4A5565;
      margin-bottom: 3px; }
      @media (max-width: 1679px) {
        .my-reward-sec .rewards-tab-outer .my-rewards-tab .my-rewards-card .data-row .txt-data p {
          font-size: 13px; } }
    .my-reward-sec .rewards-tab-outer .my-rewards-tab .my-rewards-card .data-row .txt-data h4 {
      margin: 0;
      font-size: 24px;
      font-weight: 600;
      color: #101828; }
      @media (max-width: 1679px) {
        .my-reward-sec .rewards-tab-outer .my-rewards-tab .my-rewards-card .data-row .txt-data h4 {
          font-size: 22px; } }
      @media (max-width: 1481px) {
        .my-reward-sec .rewards-tab-outer .my-rewards-tab .my-rewards-card .data-row .txt-data h4 {
          font-size: 20px; } }
      @media (max-width: 579px) {
        .my-reward-sec .rewards-tab-outer .my-rewards-tab .my-rewards-card .data-row .txt-data h4 {
          font-size: 18px; } }
    .my-reward-sec .rewards-tab-outer .my-rewards-tab .my-rewards-card .info-data {
      padding-top: 8px;
      color: #F54900;
      font-size: 12px; }
      @media (max-width: 1481px) {
        .my-reward-sec .rewards-tab-outer .my-rewards-tab .my-rewards-card .info-data {
          padding-top: 4px;
          font-size: 11px; } }
      .my-reward-sec .rewards-tab-outer .my-rewards-tab .my-rewards-card .info-data img {
        margin-right: 4px;
        margin-top: -2px; }
        @media (max-width: 1481px) {
          .my-reward-sec .rewards-tab-outer .my-rewards-tab .my-rewards-card .info-data img {
            margin-top: -3px; } }
  .my-reward-sec .rewards-tab-outer .my-rewards-tab .recent-table-cover {
    margin-bottom: 40px;
    border-radius: 14px;
    border: 1px solid #E5E5E5; }
    .my-reward-sec .rewards-tab-outer .my-rewards-tab .recent-table-cover .recent-title {
      padding: 22px 45px 22px 27px;
      border-bottom: 1px solid #0000001A;
      justify-content: space-between;
      align-items: center; }
      @media (max-width: 1679px) {
        .my-reward-sec .rewards-tab-outer .my-rewards-tab .recent-table-cover .recent-title {
          padding: 16px 45px 16px 27px; } }
      @media (max-width: 579px) {
        .my-reward-sec .rewards-tab-outer .my-rewards-tab .recent-table-cover .recent-title {
          padding: 13px 20px; } }
      @media (max-width: 370px) {
        .my-reward-sec .rewards-tab-outer .my-rewards-tab .recent-table-cover .recent-title {
          padding: 13px 15px; } }
      .my-reward-sec .rewards-tab-outer .my-rewards-tab .recent-table-cover .recent-title h4 {
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        color: #4A5565; }
        @media (max-width: 1679px) {
          .my-reward-sec .rewards-tab-outer .my-rewards-tab .recent-table-cover .recent-title h4 {
            font-size: 15px; } }
    .my-reward-sec .rewards-tab-outer .my-rewards-tab .recent-table-cover .all-btn {
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
      color: #4F91CD;
      transition: .3s; }
      .my-reward-sec .rewards-tab-outer .my-rewards-tab .recent-table-cover .all-btn:hover {
        opacity: .8; }
      @media (max-width: 1679px) {
        .my-reward-sec .rewards-tab-outer .my-rewards-tab .recent-table-cover .all-btn {
          font-size: 13px; } }
    .my-reward-sec .rewards-tab-outer .my-rewards-tab .recent-table-cover .recent-td-cover {
      padding: 12px 0; }
    .my-reward-sec .rewards-tab-outer .my-rewards-tab .recent-table-cover .recent-td-wrapper {
      justify-content: space-between;
      align-items: center;
      padding: 14px 45px 14px 27px; }
      @media (max-width: 1679px) {
        .my-reward-sec .rewards-tab-outer .my-rewards-tab .recent-table-cover .recent-td-wrapper {
          padding: 12px 45px 12px 27px; } }
      @media (max-width: 579px) {
        .my-reward-sec .rewards-tab-outer .my-rewards-tab .recent-table-cover .recent-td-wrapper {
          padding: 13px 20px; } }
      @media (max-width: 370px) {
        .my-reward-sec .rewards-tab-outer .my-rewards-tab .recent-table-cover .recent-td-wrapper {
          padding: 13px 15px; } }
      .my-reward-sec .rewards-tab-outer .my-rewards-tab .recent-table-cover .recent-td-wrapper .left-block {
        padding-right: 15px; }
      .my-reward-sec .rewards-tab-outer .my-rewards-tab .recent-table-cover .recent-td-wrapper .det-block {
        align-items: center; }
        .my-reward-sec .rewards-tab-outer .my-rewards-tab .recent-table-cover .recent-td-wrapper .det-block .icon {
          flex-shrink: 0;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: #F3F4F6;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          margin-right: 15px; }
          @media (max-width: 479px) {
            .my-reward-sec .rewards-tab-outer .my-rewards-tab .recent-table-cover .recent-td-wrapper .det-block .icon {
              width: 36px;
              height: 36px;
              margin-right: 8px; } }
          .my-reward-sec .rewards-tab-outer .my-rewards-tab .recent-table-cover .recent-td-wrapper .det-block .icon img {
            max-width: 18px;
            max-height: 18px; }
            @media (max-width: 479px) {
              .my-reward-sec .rewards-tab-outer .my-rewards-tab .recent-table-cover .recent-td-wrapper .det-block .icon img {
                max-width: 16px;
                max-height: 16px; } }
        .my-reward-sec .rewards-tab-outer .my-rewards-tab .recent-table-cover .recent-td-wrapper .det-block .txt-data p {
          font-size: 14px;
          color: #101828;
          margin-bottom: 2px; }
          @media (max-width: 1679px) {
            .my-reward-sec .rewards-tab-outer .my-rewards-tab .recent-table-cover .recent-td-wrapper .det-block .txt-data p {
              font-size: 13px; } }
        .my-reward-sec .rewards-tab-outer .my-rewards-tab .recent-table-cover .recent-td-wrapper .det-block .txt-data h4 {
          margin: 0;
          font-size: 14px;
          font-weight: 400;
          color: #6A7282; }
          @media (max-width: 1679px) {
            .my-reward-sec .rewards-tab-outer .my-rewards-tab .recent-table-cover .recent-td-wrapper .det-block .txt-data h4 {
              font-size: 13px; } }
          .my-reward-sec .rewards-tab-outer .my-rewards-tab .recent-table-cover .recent-td-wrapper .det-block .txt-data h4 .date {
            display: inline-block;
            padding-left: 4px; }
      .my-reward-sec .rewards-tab-outer .my-rewards-tab .recent-table-cover .recent-td-wrapper .right-block {
        flex-shrink: 0;
        font-size: 14px;
        font-weight: 600;
        color: #4A5565; }
        @media (max-width: 1679px) {
          .my-reward-sec .rewards-tab-outer .my-rewards-tab .recent-table-cover .recent-td-wrapper .right-block {
            font-size: 13px; } }
        .my-reward-sec .rewards-tab-outer .my-rewards-tab .recent-table-cover .recent-td-wrapper .right-block.text-blue {
          color: #4F91CD; }
  .my-reward-sec .rewards-tab-outer .my-rewards-tab .how-it-works-sec .sec-title {
    margin-bottom: 25px; }
    @media (max-width: 1679px) {
      .my-reward-sec .rewards-tab-outer .my-rewards-tab .how-it-works-sec .sec-title {
        margin-bottom: 20px; } }
    .my-reward-sec .rewards-tab-outer .my-rewards-tab .how-it-works-sec .sec-title h2 {
      color: #101B25;
      font-size: 40px;
      margin-bottom: 0; }
      @media (max-width: 1679px) {
        .my-reward-sec .rewards-tab-outer .my-rewards-tab .how-it-works-sec .sec-title h2 {
          font-size: 32px; } }
      @media (max-width: 1481px) {
        .my-reward-sec .rewards-tab-outer .my-rewards-tab .how-it-works-sec .sec-title h2 {
          font-size: 28px; } }
      @media (max-width: 579px) {
        .my-reward-sec .rewards-tab-outer .my-rewards-tab .how-it-works-sec .sec-title h2 {
          font-size: 24px; } }
    .my-reward-sec .rewards-tab-outer .my-rewards-tab .how-it-works-sec .sec-title p {
      font-size: 18px;
      color: #4A5565;
      margin-bottom: 0; }
      @media (max-width: 1679px) {
        .my-reward-sec .rewards-tab-outer .my-rewards-tab .how-it-works-sec .sec-title p {
          font-size: 16px; } }
      @media (max-width: 1481px) {
        .my-reward-sec .rewards-tab-outer .my-rewards-tab .how-it-works-sec .sec-title p {
          font-size: 15px; } }
  @media (max-width: 991px) {
    .my-reward-sec .rewards-tab-outer .my-rewards-tab .how-it-works-sec .how-works-col {
      margin-bottom: 15px; } }
  .my-reward-sec .rewards-tab-outer .my-rewards-tab .how-it-works-sec .how-works-card {
    border: 1px solid #ECEDEF;
    border-radius: 16px;
    padding: 32px;
    height: 100%; }
    .my-reward-sec .rewards-tab-outer .my-rewards-tab .how-it-works-sec .how-works-card .icon {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      background-color: #ECEDEF;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-right: 15px;
      margin-bottom: 24px; }
      @media (max-width: 1679px) {
        .my-reward-sec .rewards-tab-outer .my-rewards-tab .how-it-works-sec .how-works-card .icon {
          width: 60px;
          height: 60px; } }
      @media (max-width: 991px) {
        .my-reward-sec .rewards-tab-outer .my-rewards-tab .how-it-works-sec .how-works-card .icon {
          margin-bottom: 20px; } }
      .my-reward-sec .rewards-tab-outer .my-rewards-tab .how-it-works-sec .how-works-card .icon img {
        max-width: 26px;
        max-height: 26px; }
    .my-reward-sec .rewards-tab-outer .my-rewards-tab .how-it-works-sec .how-works-card p {
      font-size: 16px;
      color: #4A5565;
      margin-bottom: 0; }
      @media (max-width: 1679px) {
        .my-reward-sec .rewards-tab-outer .my-rewards-tab .how-it-works-sec .how-works-card p {
          font-size: 14px; } }
    .my-reward-sec .rewards-tab-outer .my-rewards-tab .how-it-works-sec .how-works-card h4 {
      margin-bottom: 12px;
      font-size: 20px;
      font-weight: 500;
      color: #0A0A0A; }
      @media (max-width: 1679px) {
        .my-reward-sec .rewards-tab-outer .my-rewards-tab .how-it-works-sec .how-works-card h4 {
          font-size: 18px; } }
  .my-reward-sec .rewards-tab-outer .earn-perks-tab {
    padding-top: 40px; }
    @media (max-width: 1679px) {
      .my-reward-sec .rewards-tab-outer .earn-perks-tab {
        padding-top: 20px; } }
    .my-reward-sec .rewards-tab-outer .earn-perks-tab .earn-perks-title-wrapper {
      margin-bottom: 40px; }
      .my-reward-sec .rewards-tab-outer .earn-perks-tab .earn-perks-title-wrapper .perks-title-block {
        max-width: 380px; }
        .my-reward-sec .rewards-tab-outer .earn-perks-tab .earn-perks-title-wrapper .perks-title-block .perks-title {
          font-size: 24px;
          font-weight: 500;
          color: #122852;
          display: flex;
          align-items: center;
          margin-bottom: 12px; }
          @media (max-width: 1679px) {
            .my-reward-sec .rewards-tab-outer .earn-perks-tab .earn-perks-title-wrapper .perks-title-block .perks-title {
              font-size: 22px; } }
          @media (max-width: 1481px) {
            .my-reward-sec .rewards-tab-outer .earn-perks-tab .earn-perks-title-wrapper .perks-title-block .perks-title {
              font-size: 20px; } }
          @media (max-width: 579px) {
            .my-reward-sec .rewards-tab-outer .earn-perks-tab .earn-perks-title-wrapper .perks-title-block .perks-title {
              font-size: 18px; } }
          .my-reward-sec .rewards-tab-outer .earn-perks-tab .earn-perks-title-wrapper .perks-title-block .perks-title img {
            margin-right: 12px; }
            @media (max-width: 1679px) {
              .my-reward-sec .rewards-tab-outer .earn-perks-tab .earn-perks-title-wrapper .perks-title-block .perks-title img {
                max-height: 22px; } }
        .my-reward-sec .rewards-tab-outer .earn-perks-tab .earn-perks-title-wrapper .perks-title-block p {
          font-size: 16px;
          color: #415362; }
          @media (max-width: 1679px) {
            .my-reward-sec .rewards-tab-outer .earn-perks-tab .earn-perks-title-wrapper .perks-title-block p {
              font-size: 14px; } }
      .my-reward-sec .rewards-tab-outer .earn-perks-tab .earn-perks-title-wrapper .available-title-block {
        padding: 16px;
        border: 1px solid #ECEDEF;
        border-radius: 12px; }
        .my-reward-sec .rewards-tab-outer .earn-perks-tab .earn-perks-title-wrapper .available-title-block .top-block {
          align-items: center;
          margin-bottom: 20px; }
          @media (max-width: 1481px) {
            .my-reward-sec .rewards-tab-outer .earn-perks-tab .earn-perks-title-wrapper .available-title-block .top-block {
              margin-bottom: 15px; } }
          .my-reward-sec .rewards-tab-outer .earn-perks-tab .earn-perks-title-wrapper .available-title-block .top-block .icon {
            flex-shrink: 0;
            width: 27px;
            height: 27px;
            border-radius: 50%;
            background-color: #EFF6FF;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-right: 12px; }
            .my-reward-sec .rewards-tab-outer .earn-perks-tab .earn-perks-title-wrapper .available-title-block .top-block .icon img {
              max-width: 12px;
              max-height: 12px; }
          .my-reward-sec .rewards-tab-outer .earn-perks-tab .earn-perks-title-wrapper .available-title-block .top-block h5 {
            font-size: 16px;
            color: #101B25;
            margin: 0;
            font-weight: 500; }
            @media (max-width: 1679px) {
              .my-reward-sec .rewards-tab-outer .earn-perks-tab .earn-perks-title-wrapper .available-title-block .top-block h5 {
                font-size: 14px; } }
        .my-reward-sec .rewards-tab-outer .earn-perks-tab .earn-perks-title-wrapper .available-title-block h4 {
          margin: 0;
          font-size: 30px;
          font-weight: 600;
          color: #122852; }
          @media (max-width: 1679px) {
            .my-reward-sec .rewards-tab-outer .earn-perks-tab .earn-perks-title-wrapper .available-title-block h4 {
              font-size: 24px; } }
          @media (max-width: 1481px) {
            .my-reward-sec .rewards-tab-outer .earn-perks-tab .earn-perks-title-wrapper .available-title-block h4 {
              font-size: 20px; } }
          @media (max-width: 579px) {
            .my-reward-sec .rewards-tab-outer .earn-perks-tab .earn-perks-title-wrapper .available-title-block h4 {
              font-size: 18px; } }
    .my-reward-sec .rewards-tab-outer .earn-perks-tab .perks-col {
      margin-bottom: 25px; }
      @media (max-width: 1679px) {
        .my-reward-sec .rewards-tab-outer .earn-perks-tab .perks-col {
          margin-bottom: 20px; } }
    .my-reward-sec .rewards-tab-outer .earn-perks-tab .perks-card {
      height: 100%;
      padding: 25px;
      border: 1px solid #ECEDEF;
      border-radius: 12px; }
      @media (max-width: 767px) {
        .my-reward-sec .rewards-tab-outer .earn-perks-tab .perks-card {
          padding: 20px; } }
      @media (max-width: 479px) {
        .my-reward-sec .rewards-tab-outer .earn-perks-tab .perks-card .card-title-outer {
          flex-wrap: wrap; } }
      .my-reward-sec .rewards-tab-outer .earn-perks-tab .perks-card .card-title-outer .right-block {
        margin-left: auto;
        display: flex;
        align-items: center; }
        @media (max-width: 479px) {
          .my-reward-sec .rewards-tab-outer .earn-perks-tab .perks-card .card-title-outer .right-block {
            width: 100%;
            margin-bottom: 15px; } }
        .my-reward-sec .rewards-tab-outer .earn-perks-tab .perks-card .card-title-outer .right-block .title-label {
          margin-left: 10px;
          display: inline-flex;
          align-items: center;
          font-size: 12px;
          font-weight: 500;
          color: #4F91CD;
          background-color: #EFF6FF;
          border-radius: 8px;
          padding: 4px 8px; }
          .my-reward-sec .rewards-tab-outer .earn-perks-tab .perks-card .card-title-outer .right-block .title-label:first-child {
            margin-left: 0; }
          .my-reward-sec .rewards-tab-outer .earn-perks-tab .perks-card .card-title-outer .right-block .title-label img {
            margin-right: 8px;
            flex-shrink: 0; }
          .my-reward-sec .rewards-tab-outer .earn-perks-tab .perks-card .card-title-outer .right-block .title-label.featured {
            background-color: #FEF3C6;
            color: #FF9B10; }
      .my-reward-sec .rewards-tab-outer .earn-perks-tab .perks-card .card-title-row {
        margin-bottom: 15px;
        position: relative;
        width: 100%; }
        .my-reward-sec .rewards-tab-outer .earn-perks-tab .perks-card .card-title-row .icon {
          flex-shrink: 0;
          width: 44px;
          height: 44px;
          border-radius: 50%;
          background-color: #EFF6FF;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          margin-right: 12px; }
          @media (max-width: 1679px) {
            .my-reward-sec .rewards-tab-outer .earn-perks-tab .perks-card .card-title-row .icon {
              width: 40px;
              height: 40px; } }
          .my-reward-sec .rewards-tab-outer .earn-perks-tab .perks-card .card-title-row .icon img {
            max-width: 24px;
            max-height: 24px; }
            @media (max-width: 1679px) {
              .my-reward-sec .rewards-tab-outer .earn-perks-tab .perks-card .card-title-row .icon img {
                max-width: 20px;
                max-height: 20px; } }
        .my-reward-sec .rewards-tab-outer .earn-perks-tab .perks-card .card-title-row .txt-data h4 {
          margin: 4px;
          font-size: 18px;
          font-weight: 500;
          color: #122852; }
          @media (max-width: 1679px) {
            .my-reward-sec .rewards-tab-outer .earn-perks-tab .perks-card .card-title-row .txt-data h4 {
              font-size: 16px; } }
        .my-reward-sec .rewards-tab-outer .earn-perks-tab .perks-card .card-title-row .txt-data .status-block .card-status {
          display: inline-block;
          border: 1px solid #4F91CD33;
          font-size: 12px;
          color: #4F91CD;
          border-radius: 25px;
          padding: 5px 11px;
          font-size: 12px;
          background-color: #EFF6FF; }
          @media (max-width: 1679px) {
            .my-reward-sec .rewards-tab-outer .earn-perks-tab .perks-card .card-title-row .txt-data .status-block .card-status {
              padding: 3px 11px; } }
          .my-reward-sec .rewards-tab-outer .earn-perks-tab .perks-card .card-title-row .txt-data .status-block .card-status.active {
            border-top: 1px solid #22C26633;
            color: #22C266;
            background-color: #EDFFF4; }
        .my-reward-sec .rewards-tab-outer .earn-perks-tab .perks-card .card-title-row .title-label-block {
          display: flex;
          align-items: center;
          position: absolute;
          right: 0;
          top: 0; }
          @media (max-width: 479px) {
            .my-reward-sec .rewards-tab-outer .earn-perks-tab .perks-card .card-title-row .title-label-block {
              position: static; } }
          .my-reward-sec .rewards-tab-outer .earn-perks-tab .perks-card .card-title-row .title-label-block .title-label {
            margin-left: 10px;
            display: inline-flex;
            align-items: center;
            font-size: 12px;
            font-weight: 500;
            color: #4F91CD;
            background-color: #EFF6FF;
            border-radius: 8px;
            padding: 4px 8px; }
            @media (max-width: 479px) {
              .my-reward-sec .rewards-tab-outer .earn-perks-tab .perks-card .card-title-row .title-label-block .title-label {
                margin-left: 8px; } }
            @media (max-width: 362px) {
              .my-reward-sec .rewards-tab-outer .earn-perks-tab .perks-card .card-title-row .title-label-block .title-label {
                text-align: center; } }
            .my-reward-sec .rewards-tab-outer .earn-perks-tab .perks-card .card-title-row .title-label-block .title-label img {
              margin-right: 8px;
              flex-shrink: 0; }
              @media (max-width: 362px) {
                .my-reward-sec .rewards-tab-outer .earn-perks-tab .perks-card .card-title-row .title-label-block .title-label img {
                  display: none; } }
            .my-reward-sec .rewards-tab-outer .earn-perks-tab .perks-card .card-title-row .title-label-block .title-label.featured {
              background-color: #FEF3C6;
              color: #FF9B10; }
              @media (max-width: 390px) {
                .my-reward-sec .rewards-tab-outer .earn-perks-tab .perks-card .card-title-row .title-label-block .title-label.featured img {
                  display: none; } }
      .my-reward-sec .rewards-tab-outer .earn-perks-tab .perks-card p {
        color: #415362;
        font-size: 14px;
        margin-bottom: 15px; }
        @media (max-width: 1679px) {
          .my-reward-sec .rewards-tab-outer .earn-perks-tab .perks-card p {
            font-size: 13px; } }
      .my-reward-sec .rewards-tab-outer .earn-perks-tab .perks-card .bottom-row {
        justify-content: space-between;
        padding-top: 8px;
        border-top: 1px solid #F4F4F4; }
        .my-reward-sec .rewards-tab-outer .earn-perks-tab .perks-card .bottom-row .card-label {
          display: inline-flex;
          align-items: center;
          font-size: 14px;
          color: #4F91CD; }
          .my-reward-sec .rewards-tab-outer .earn-perks-tab .perks-card .bottom-row .card-label::before {
            content: '';
            background-color: #4F91CD;
            flex-shrink: 0;
            margin-right: 5px;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            display: inline-block; }
        .my-reward-sec .rewards-tab-outer .earn-perks-tab .perks-card .bottom-row .card-link {
          box-shadow: 0px 1px 2px -1px #0000001A;
          box-shadow: 0px 1px 3px 0px #0000001A;
          background-color: #4F91CD;
          color: #fff;
          padding: 9px 18px;
          border-radius: 10px;
          transition: .3s;
          display: inline-flex;
          align-items: center;
          font-size: 14px;
          border: none; }
          .my-reward-sec .rewards-tab-outer .earn-perks-tab .perks-card .bottom-row .card-link img {
            margin-left: 6px; }
          .my-reward-sec .rewards-tab-outer .earn-perks-tab .perks-card .bottom-row .card-link.coming-soon {
            background-color: #EFF6FF;
            color: #4F91CD;
            padding: 9px 25px; }

/*# sourceMappingURL=rewards.css.map */
