@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
.seller-banner {
  background-image: url(../img/store-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 235px;
}
@media (max-width: 1679px) {
  .seller-banner {
    height: 200px;
  }
}
@media (max-width: 579px) {
  .seller-banner {
    height: 160px;
  }
}
.seller-banner .breadcrumb-wrap {
  padding: 20px 0 0 0;
}
@media (max-width: 1679px) {
  .seller-banner .breadcrumb-wrap {
    padding: 15px 0 0 0;
  }
}
.seller-banner .breadcrumb-wrap .list li {
  color: #CBD1D7;
}
.seller-banner .breadcrumb-wrap .list li a {
  color: #FFFFFF;
}
.seller-banner .breadcrumb-wrap .list li a:hover {
  color: #CBD1D7;
}

.store-container-wrap {
  width: 850px;
  margin: 0 auto;
  padding: 0 0 90px 0;
}
@media (max-width: 1679px) {
  .store-container-wrap {
    padding: 0 0 50px 0;
  }
}
@media (max-width: 991px) {
  .store-container-wrap {
    width: 100%;
  }
}
@media (max-width: 579px) {
  .store-container-wrap .store-content-wrap .profile-pic-wrap {
    position: relative;
    background: #fff;
    border-radius: 15px 15px 0 0;
    text-align: center;
    margin: -30px 0 0 0;
    padding: 50px 0 0 0;
  }
}
.store-container-wrap .store-content-wrap .profile-pic-wrap .img-wrap {
  margin: -42px 0 0 0;
  padding: 0;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: 3px solid #FFFFFF;
  position: relative;
}
@media (max-width: 1679px) {
  .store-container-wrap .store-content-wrap .profile-pic-wrap .img-wrap {
    width: 80px;
    height: 80px;
    margin: -40px 0 0 0;
  }
}
@media (max-width: 991px) {
  .store-container-wrap .store-content-wrap .profile-pic-wrap .img-wrap {
    width: 66px;
    height: 66px;
  }
}
@media (max-width: 579px) {
  .store-container-wrap .store-content-wrap .profile-pic-wrap .img-wrap {
    position: absolute;
    inset: 0;
    margin: -33px auto 0 auto;
  }
}
.store-container-wrap .store-content-wrap .profile-pic-wrap .img-wrap .main-img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.store-container-wrap .store-content-wrap .profile-pic-wrap .img-wrap .edit-arrow {
  width: 24px;
  height: 24px;
  background: #ECEDEF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
@media (max-width: 1679px) {
  .store-container-wrap .store-content-wrap .profile-pic-wrap .img-wrap .edit-arrow {
    width: 20px;
    height: 20px;
  }
}
.store-container-wrap .store-content-wrap .profile-pic-wrap .img-wrap .edit-arrow .edit-img {
  max-width: 16px;
}
@media (max-width: 1679px) {
  .store-container-wrap .store-content-wrap .profile-pic-wrap .img-wrap .edit-arrow .edit-img {
    max-width: 14px;
  }
}
.store-container-wrap .store-content-wrap .profile-pic-wrap .profile-edit-mob {
  display: none;
}
@media (max-width: 579px) {
  .store-container-wrap .store-content-wrap .profile-pic-wrap .profile-edit-mob {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .store-container-wrap .store-content-wrap .profile-pic-wrap .profile-edit-mob img {
    width: 15px;
  }
}
.store-container-wrap .store-content-wrap .button-wrap {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 12px;
  padding: 0 0 10px 0;
  margin: -15px 0 0 0;
}
@media (max-width: 579px) {
  .store-container-wrap .store-content-wrap .button-wrap {
    display: none;
  }
}
.store-container-wrap .store-content-wrap .button-wrap .btn {
  height: 32px;
  background: #F6F7F9;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 0;
  padding: 5px 30px;
}
@media (max-width: 1679px) {
  .store-container-wrap .store-content-wrap .button-wrap .btn {
    height: 30px;
    padding: 5px 25px;
  }
}
.store-container-wrap .store-content-wrap .button-wrap .btn span {
  color: #101B25;
  font-size: 12px;
  font-weight: 500;
}
.store-container-wrap .store-content-wrap .button-wrap .btn img {
  max-width: 15px;
  max-height: 15px;
}
@media (max-width: 1679px) {
  .store-container-wrap .store-content-wrap .button-wrap .btn img {
    max-width: 12px;
    max-height: 12px;
  }
}
.store-container-wrap .store-content-wrap .button-wrap .btn.btn-color {
  background: #5090CC;
}
.store-container-wrap .store-content-wrap .button-wrap .btn.btn-color span {
  color: #FFFFFF;
}
.store-container-wrap .store-content-wrap .button-wrap.btn-mob-only {
  display: none;
}
@media (max-width: 579px) {
  .store-container-wrap .store-content-wrap .button-wrap.btn-mob-only {
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
    padding: 0;
  }
}
@media (max-width: 579px) {
  .store-container-wrap .store-content-wrap .button-wrap.btn-mob-only .btn {
    width: auto;
  }
}
@media (max-width: 579px) {
  .store-container-wrap .store-content-wrap .head-content-wrap {
    text-align: center;
  }
}
.store-container-wrap .store-content-wrap .head-content-wrap .title {
  color: #101B25;
  font-size: 20px;
  font-weight: 500;
  padding: 0 0 10px 0;
  margin: 0;
}
@media (max-width: 1679px) {
  .store-container-wrap .store-content-wrap .head-content-wrap .title {
    font-size: 18px;
    padding: 0 0 5px 0;
  }
}
.store-container-wrap .store-content-wrap .head-content-wrap .para {
  color: #415362;
  font-size: 14px;
  font-weight: 400;
  padding: 0 0 10px 0;
  margin: 0;
}
@media (max-width: 1679px) {
  .store-container-wrap .store-content-wrap .head-content-wrap .para {
    font-size: 12px;
  }
}
.store-container-wrap .store-content-wrap .head-content-wrap .list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
@media (max-width: 579px) {
  .store-container-wrap .store-content-wrap .head-content-wrap .list {
    justify-content: center;
  }
}
.store-container-wrap .store-content-wrap .head-content-wrap .list li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 8px;
}
.store-container-wrap .store-content-wrap .head-content-wrap .list li .num {
  font-size: 16px;
  color: #101B25;
  font-weight: 500;
}
@media (max-width: 1679px) {
  .store-container-wrap .store-content-wrap .head-content-wrap .list li .num {
    font-size: 14px;
  }
}
.store-container-wrap .store-content-wrap .head-content-wrap .list li span {
  font-size: 16px;
  color: #415362;
  font-weight: 400;
}
@media (max-width: 1679px) {
  .store-container-wrap .store-content-wrap .head-content-wrap .list li span {
    font-size: 14px;
  }
}
.store-container-wrap .store-content-wrap .store-des-wrap {
  padding: 30px 0 0 0;
}
@media (max-width: 1679px) {
  .store-container-wrap .store-content-wrap .store-des-wrap {
    padding: 20px 0 0 0;
  }
}
.store-container-wrap .store-content-wrap .store-des-wrap .des-tab-wrap {
  margin: 0 0 25px 0;
  overflow: auto;
  overflow-y: hidden;
  scrollbar-width: thin;
  scrollbar-color: #f6f7f9 #fff;
}
@media (max-width: 1679px) {
  .store-container-wrap .store-content-wrap .store-des-wrap .des-tab-wrap {
    margin: 0 0 20px 0;
  }
}
.store-container-wrap .store-content-wrap .store-des-wrap .des-tab-wrap ul {
  margin: 0;
  padding: 0;
  display: flex;
  border-bottom: 1px solid #DFE1E3;
}
.store-container-wrap .store-content-wrap .store-des-wrap .des-tab-wrap ul li {
  list-style: none;
  font-size: 14px;
  font-weight: 500;
}
.store-container-wrap .store-content-wrap .store-des-wrap .des-tab-wrap ul li a {
  color: #7B8D9F;
  display: block;
  padding: 12px 70px;
}
@media (max-width: 1679px) {
  .store-container-wrap .store-content-wrap .store-des-wrap .des-tab-wrap ul li a {
    padding: 12px 50px;
  }
}
@media (max-width: 479px) {
  .store-container-wrap .store-content-wrap .store-des-wrap .des-tab-wrap ul li a {
    padding: 10px 20px;
  }
}
.store-container-wrap .store-content-wrap .store-des-wrap .des-tab-wrap ul li.active a {
  color: #4882B8;
  border-bottom: 1px solid #4882B8;
  margin: 0 0 -1px 0;
}
.store-container-wrap .store-content-wrap .store-tab-content-wrap .group-wrap h2 {
  font-size: 20px;
  color: #101B25;
  font-weight: 500;
  margin: 0;
  padding: 0 0 10px 0;
}
@media (max-width: 1679px) {
  .store-container-wrap .store-content-wrap .store-tab-content-wrap .group-wrap h2 {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .store-container-wrap .store-content-wrap .store-tab-content-wrap .group-wrap h2 {
    font-size: 16px;
  }
}
.store-container-wrap .store-content-wrap .store-tab-content-wrap .group-wrap p {
  font-size: 14px;
  color: #415362;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
@media (max-width: 1679px) {
  .store-container-wrap .store-content-wrap .store-tab-content-wrap .group-wrap p {
    font-size: 13px;
  }
}
.store-container-wrap .store-content-wrap .store-tab-content-wrap .group-wrap + .group-wrap {
  padding-top: 30px;
}
@media (max-width: 1679px) {
  .store-container-wrap .store-content-wrap .store-tab-content-wrap .group-wrap + .group-wrap {
    padding-top: 25px;
  }
}
.store-container-wrap .store-content-wrap .store-tab-content-wrap .group-wrap .title-wrap {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 15px;
}
.store-container-wrap .store-content-wrap .store-tab-content-wrap .group-wrap .title-wrap h2 {
  padding: 0;
}
.store-container-wrap .store-content-wrap .store-tab-content-wrap .group-wrap .title-wrap .add-more .link {
  font-size: 12px;
  color: #5090CC;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
}
.store-container-wrap .store-content-wrap .store-tab-content-wrap .group-wrap .title-wrap .add-more .link img {
  width: 16px;
}
@media (max-width: 1679px) {
  .store-container-wrap .store-content-wrap .store-tab-content-wrap .group-wrap .title-wrap .add-more .link img {
    width: 14px;
  }
}
.store-container-wrap .store-content-wrap .store-tab-content-wrap .cat-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.store-container-wrap .store-content-wrap .store-tab-content-wrap .cat-list li {
  list-style: none;
  display: flex;
  gap: 5px;
  background: #f6f7f9;
  border-radius: 30px;
  align-items: center;
  padding: 5px 12px;
}
@media (max-width: 1679px) {
  .store-container-wrap .store-content-wrap .store-tab-content-wrap .cat-list li {
    padding: 4px 8px;
  }
}
.store-container-wrap .store-content-wrap .store-tab-content-wrap .cat-list li img {
  width: 16px;
  height: 16px;
}
@media (max-width: 1679px) {
  .store-container-wrap .store-content-wrap .store-tab-content-wrap .cat-list li img {
    width: 14px;
    height: 14px;
  }
}
.store-container-wrap .store-content-wrap .store-tab-content-wrap .cat-list li span {
  color: #415362;
  font-size: 14px;
  font-weight: 500;
}
@media (max-width: 1679px) {
  .store-container-wrap .store-content-wrap .store-tab-content-wrap .cat-list li span {
    font-size: 13px;
  }
}

/*# sourceMappingURL=store.css.map */
