@import "partials";
.blog-header {
  background: #fff;
  padding: 24px 0 60px;
  @media ($sm-1679){
    padding: 24px 0 50px;
  }
  @media ($sm-1441){
    padding: 20px 0 45px;
  }
  @media ($sm-1199){
    padding: 20px 0 40px;
  }
  @media ($sm-991){
    padding: 15px 0 30px;
  }
  @media ($sm-767){
    padding: 15px 0 20px;
  }

  .breadcrumb {
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 36px;
    color: #7B8D9F;
    @media ($sm-1679){
        margin-bottom: 30px;
    }
    @media ($sm-1441){
        margin-bottom: 25px;
    }

    @media ($sm-1199){
        margin-bottom: 20px;
    }

    .crumbs {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: #101B25; 
      }
      &:not(.current){
        &::after{
            content: "";
            width: 4px;
            height: 8px;
            background: url(../img/sperator-arrow.svg) no-repeat center;
            background-size: contain;
            display: inline-block;
            margin: 0 8px;
        }
      }
    }

    .current {
      font-weight: 500;
      color: #101B25;
    }
  }

  .title {
    font-size: 48px;
    line-height: 1;
    font-weight: 600;
    color: #101B25;
    margin-bottom: 20px;
    @media ($sm-1679){
        font-size: 44px;
    }
    @media ($sm-1441){
        font-size: 40px;
    }
    @media ($sm-1199){
        font-size: 36px;
        margin-bottom: 15px;
    }
    @media ($sm-991){
        font-size: 30px;
        margin-bottom: 10px;
    }
    @media ($sm-767){
        font-size: 24px;
    }
    @media ($sm-579){
        font-size: 20px;
    }
  }

  .subtitle {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #101B25;
    margin-bottom: 0;
    
    @media ($sm-1199){
        font-size: 16px;
        line-height: 20px;
    }
    @media ($sm-991){
        font-size: 15px;
        line-height: 19px;
    }
    @media ($sm-767){
        font-size: 14px;
        line-height: 20px;
    }
    @media ($sm-579){
        font-size: 13px;
        line-height: 17px;
    }
  }
}

.blog-layout {
  padding: 0 0 80px;
  @media ($sm-1679){
    padding-bottom: 60px;
  }
  @media ($sm-1441){
    padding-bottom: 50px;
  }
  @media ($sm-1199){
    padding-bottom: 40px;
  }
  @media ($sm-991){
    padding-bottom: 30px;
  }
  @media ($sm-579){
    padding-bottom: 20px;
  }

  .grid {
    display: grid;
    grid-template-columns: 2fr 1.2fr;
    gap: 24px;
    @media ($sm-991){
        gap: 15px;
    }
    @media (max-width: 650px) {
      grid-template-columns: 1fr; // Stack on small screens
    }
  }

  /* Featured Blog */
  .featured-blog {
    background: #fff;
    border-radius: 14px;
    overflow: hidden;
    padding: 8px;
    border: 1px solid #ECEDEF;
     @media (max-width:650px){
        display: flex;
        gap: 12px;
        flex-direction: row-reverse;
        border: 0;
        padding: 0;
     }
    .feature-bnr{
        width: 100%;
        height: 278px;
        margin-bottom: 25px;
        
        @media ($sm-1679){
            margin-bottom: 20px;
        }
        @media ($sm-1199){
            margin-bottom: 10px;
            height: 200px;
        }
        @media (max-width:650px){
            margin-bottom: 5px;
            width: 100px;
            height: 100px;
            flex-shrink: 0;
        }
        img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border-radius: 14px;
        }
    }
    

    .content {
      padding: 28px 28px 44px;
      @media ($sm-1679){
        padding: 24px 24px 40px;
      }
      @media ($sm-1441){
        padding: 20px 20px 35px;
      }
      @media ($sm-1199){
        padding: 20px 20px 30px;
      }
      @media ($sm-991){
        padding: 15px 15px 20px;
      }
       @media (max-width:650px){
        padding: 15px 0px 0px;
      }
      h2 {
        font-size: 24px;
        font-weight: 500;
        color: #101B25;
        margin-bottom: 30px;
        @media ($sm-1679){
            font-size: 22px;
            line-height: 30px;
            margin-bottom: 25px;
        }
        @media ($sm-1441){
            font-size: 20px;
            line-height: 28px;
        }
        @media ($sm-1199){
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 20px;
        }
        @media ($sm-991){
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 15px;
        }
        br{
            @media ($sm-479){
                display: none;
            }
        }
      }

      .date {
        font-size: 14px;
        font-weight: 500;
        color: #415362;
        margin-bottom: 0;
        @media ($sm-1199){
            font-size: 13px;
            line-height: 19px;
        }
      }
    }
  }

  /* Sidebar */
  .sidebar {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .subscribe-box {
      background: #101B25;
      border-radius: 12px;
      padding: 20px;
      color: #fff;
      @media ($sm-991){
        padding: 15px;
      }

      h3 {
        font-size: 24px;
        line-height: 32px;
        font-weight: 500;
        margin-bottom: 10px;
        @media ($sm-1679){
            font-size: 22px;
            line-height: 30px;
        }
        @media ($sm-1441){
            font-size: 20px;
            line-height: 28px;
        }
        @media ($sm-1199){
            font-size: 18px;
            line-height: 24px;
        }
      }

      p {
        font-size: 14px;
        line-height: 20px;
        color: #CAD0D4;
        margin-bottom: 0;
        @media ($sm-1199){
            font-size: 13px;
            line-height: 19px;
        }
      }

      form {
        display: flex;
        .inp-wrp{
            display: flex;
            background-color: #fff;
            height: 40px;
            border-radius: 40px;
            padding: 4px;
            margin-top: 36px;
            flex: 1;
            @media ($sm-1679){
                margin-top: 30px;
            }
            @media ($sm-1441){
                margin-top: 25px;
            }
            @media ($sm-1199){
                margin-top: 20px;
                height: 36px;
            }
             
            .form-control {
          flex: 1;
          padding: 10px 18px;
          border: 0;
          color: #415362;
          font-size: 14px;
          box-shadow: none;
          outline: none;
          @media ($sm-767){
                 padding: 10px;
                 font-size: 13px;
             }
        }
        button {
          padding: 8px 18px;
          background: #5090CC;
          color: #fff;
          border: none;
          border-radius: 30px;
          cursor: pointer;
          transition: background 0.2s;
          font-weight: 500;
          font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            @media ($sm-767){
                padding: 8px 10px;
            }
          &:hover {
            background: #101B25;
          }
        }
        }
        

        
      }
    }

    /* Small Blog List */
    .small-blogs {
      display: flex;
      flex-direction: column;
      gap: 54px;
        @media ($sm-1679){
            gap: 40px;
        }
        @media ($sm-1199){
            gap: 30px;
        }
        @media ($sm-767){
            gap: 20px;
        }
      .small-blog {
        display: flex;
        gap: 50px;
        @media ($sm-1199){
            gap: 40px;
        }
        @media ($sm-991){
            gap: 20px;
        }
        .thumb-wrp{
            width: 100px;
            height: 100px;
            flex-shrink: 0;
            @media ($sm-1199){
                width: 90px;
                height: 90px;
            }
            @media ($sm-991){
                width: 80px;
                height: 80px;
            }
            @media ($sm-767){
                width: 50px;
                height: 50px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
            }
        }
        .info {
            @media (max-width:650px){
                flex: 1;
            }
          h4 {
            font-size: 20px;
            line-height: 28px;
            font-weight: 500;
            margin-bottom: 24px;
            color: #101B25;
            @media ($sm-1679){
                font-size: 18px;
                line-height: 26px;
                margin-bottom: 20px;
            }
            @media ($sm-1441){
                font-size: 17px;
                line-height: 25px;
            }
            @media ($sm-1199){
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 15px;
            }
            @media ($sm-991){
                font-size: 14px;
                line-height: 20px;
            }
          }

          .date {
            font-size: 14px;
            line-height: 1;
            font-weight: 500;
            color: #415362;
            margin-bottom: 0;
            @media ($sm-1199){
                font-size: 13px;
            }
            @media ($sm-991){
                font-size: 12px;
            }
          }
        }
      }
    }
  }
}

.blog-listing {
  padding: 0;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .blog-cards {
    display: flex;
    gap: 15px;
    flex-wrap: wrap; // ensures responsiveness

    .blog-card {
      flex: 1 1 calc((100% / 3) - 10px); // 3 cards in a row
      max-width: calc((100% / 3) - 8px);
      background: #fff;
      border-radius: 12px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      padding: 8px;
    border: 1px solid #ECEDEF;
      @media (max-width: 767px) {
            flex: 1 1 calc((100% / 2) - 10px); // 2 per row
            max-width: calc((100% / 2) - 10px);
        }
    @media (max-width: 479px){    
        flex: 1 1 100%; // 1 per row
        max-width: 100%;
        flex-direction: row-reverse;
        border: 0;
        border-bottom: 1px solid #ECEDEF;
        border-radius: 0;
    }
    &:last-child{
        @media (max-width: 479px){    
        border: none;
        }
    }
    .card-img{
        width: 100%;
        max-height: 208px;
        @media ($sm-1199){
            max-height: 190px;
        }
        @media ($sm-479){
            width: 100px;
            height: 100px;
            flex-shrink: 0;
        }
        img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
      }
    }
      

      .content {
        padding: 24px 20px 28px;
        @media ($sm-1199){
            padding: 20px 20px 24px;
        }
        @media (max-width:650px){
            padding: 20px;
        }
        h3 {
          font-size: 20px;
          line-height: 28px;
          font-weight: 500;
          color: #101B25;
          margin-bottom: 0.5rem;
          @media ($sm-1679){
            font-size: 18px;
            line-height: 26px;
          }
          @media ($sm-1199){
        font-size: 16px;
        line-height: 20px;
    }
    @media ($sm-991){
        font-size: 15px;
        line-height: 19px;
    }
    @media ($sm-767){
        font-size: 14px;
        line-height: 20px;
    }
    @media ($sm-579){
        font-size: 13px;
        line-height: 17px;
    }
        }

        .date {
          font-size: 14px;
          font-weight: 500;
          color: #6b7280;
          margin-bottom: 0;
          @media ($sm-1199){
            font-size: 13px;
          }
        }
      }
    }
  }
}

.blog-search{
    border: 1px solid #DFE1E3;
    border-radius: 44px;
    display: none;
    @media (max-width:650px){
        display: block;
    }
    .form-control{
        padding:12px 18px;
        font-size: 14px;
        color: #7B8D9F;
        background: url(../img/search-blog.svg) no-repeat left 15px center;
        background-size: 20px;
        padding-left: 46px;
        border: 0;
        box-shadow: none;
        outline: none;
        &::-webkit-input-placeholder{
            color: #7B8D9F;
        }
    }
}