@import "partials";

.claim-success-modal{
    &.custom-modal.info-modal{
        .modal-body{
            padding: 40px 44px;
            @media (max-width: 420px) {
                padding: 30px;
            }
        }
        h2{
            font-size: 20px;
            font-weight: 700;
            color: #101B25;
        }
        p{
            font-size: 16px;
            line-height: 26px;
            font-weight: 400;
            color: #101B25;
        }
        .modal-dialog{
            @media(min-width:600px){
                max-width: 532px;
            }
            .modal-icon{
                width: 48px;
                height: 48px;
                margin: 0 auto;
                margin-bottom: 16px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .modal-btn-1{
                width: 279px;
                margin: auto;
                margin-top: 15px;
                @media (max-width: 579px) {
                    margin-top: 0px;
                    width: 100%;
                }
            }
        }
    }
}


.claim-modal.custom-modal{
    .titlesec{
        display: flex;
        justify-content: space-between;
        .coverd-link{
            color: #346796;
            font-weight: 500;
            border-bottom: 1px solid #346796;
            font-size: 14px;



        }
    }
    .modal-body{
        max-height: calc(100vh - 303px);
        overflow-y: auto;
        padding: 0px;
        @media($sm-767){
            max-height: unset;
            overflow: unset;
        }
    }
    .modal-dialog{
        @media(min-width:800px){
            max-width: 713px;
        }
    }
    .modal-content{
        border-radius: 10px;
    }
    .claim-modal-header{
        padding: 63px 45px 35px 45px;
        @media($sm-767){
            padding: 30px;
        }
        .claim-modal-title{
            color: #101B25;
            font-weight: 500;
            margin: 0px;
            font-size: 24px;
    
    
        }
    }

    .claim-timeline{
        padding-left: 37px;
        padding-right: 37px;
        @media($sm-767){
            padding-left: 30px;
            padding-right: 30px;
        }
        .claim-step{
            display: flex;
            // align-items: center;
            &:last-child{
                .claim-step-icon{
                    &::before {
                        display: none;
                    }
                }
            }
            .claim-step-content{
                margin-left: 15px;
                .claim-date{
                    color: #8D9199;
                    font-weight: 500;
               
                    font-size: 16px;
           
                    line-height: 16px;
       

                }
                h6{
         
                    font-weight: 600;
               
                    font-size: 18px;
                
                    line-height: 20px;
                    color: #101828;
                    @media($sm-767){
                        font-size: 15px;
                    }

                }
            }
            .claim-step-icon{
                width: 27px;
                height: 27px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50px;
                position: relative;
                margin-top: 30px;
                &::before {
                    content: "";
                    position: absolute;
                    top: 30px;
                    left: 50%;
                    width: 1px;
                    height: 53px;
                    background: #DCFCE7;
                    transform: translateX(-50%);
                  }
                &.success{
                    background-color: #DCFCE7;
                }
                &.warning{
                    background-color: #FFDCC9;
                }
            }
            .claim-wrp{
                display: flex;
                justify-content: space-between;
                flex: 1;
                border-bottom: 1px solid  #EDEDED;
                padding: 27px 0px;
                @media($sm-767){
                    flex-direction: column;
                }
               
           
            }
            &:first-child{
                .claim-wrp{
                    // padding-top: 0px;
                }
              
            }
            &:last-child{
                .claim-wrp{
                border-bottom: 0px;
                @media($sm-767){
                    border-bottom: 1px solid  #EDEDED;
                }
            }
            }
            // .clam-btn{
            //     flex: 1;
            //     display: flex;
            //     justify-content: flex-end;
            // }
            .claim-badge{
                text-align: center;
                background-color: #EFF6FF;
                height: 45px;
                min-width: 151px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50px;
                padding-left: 19px;
                padding-right: 19px;
        
                font-weight: 500;
   
                font-size: 16px;
     
                line-height: 20px;
                &.declined{
                    background-color: #FFF4F4;
                    color: #EA3C3C;
                }
                @media($sm-767){
                    margin-top: 10px;
                }
                @media(max-width:376px){
                    font-size: 12px;
                }


            }
            &.approved-claim{
                .claim-wrp{
                    border-bottom: 0px;
                  
                }
                .claim-step-icon{
                    &::before{
                        height: 250px !important;
                    }
                }
            }
        }
    }
    .issue-section{
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 33px;
        @media($sm-767){
            padding-left: 30px;
            padding-right: 30px;
        }
        .issue-title{
      
            font-weight: 500;
            padding-bottom: 20px;
            font-size: 17px;
            color: #101B25;
        }

        .issue-label{
            color: #101B25;
            font-weight: 500;
            margin-bottom: 10px;
            font-size: 14px;
            span{
                color: #6D7983;
                font-size: 12px;
            }

        }
        .form-wrp{
            position: relative;
            margin-bottom: 16px;
        }
        .issue-textarea{
            box-shadow: 0px 1px 2px 0px #0000000A;
            border: 1px solid #DFE1E3;
            border-radius: 12px;
            min-height: 124px;
            color: #7B8D9F;
            padding: 12px 16px;
            font-weight: 400;
          
            font-size: 16px;
            position: relative;
            line-height: 24px;
            &::placeholder{
                color: #7B8D9F;
                font-weight: 400; 
            }
          @media($sm-767){
              font-size: 14px;
              line-height: 22px;
          }

        }
        .issue-limit{
            position: absolute;
            right: 10px;
            bottom: 15px;
       
            font-weight: 400;
            color: #7B8D9F;
            font-size: 12px;



        }
    }


    .upload-box {
        margin-top: 10px;
        border: 2px dashed #B8C4D0;
        border-radius: 12px;
        padding: 30px;
        text-align: center;
        cursor: pointer;
        background: #F7FAFD;

      }
      
      .upload-icon {
        font-size: 28px;
        margin-bottom: 8px;
      }
      
      .upload-text {
        font-size: 13px;
        color: #555;
      }
      
      .upload-text span {
        font-size: 12px;
        color: #999;
      }

      .modal-footer{
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
        border: none;
        @media($sm-767){
            padding-left: 30px;
            padding-right: 30px;
            flex-wrap: nowrap;
        }
        .btn{
            width: 167px;
            height: 44px;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #DFE1E3;
       
            font-weight: 500;
       
            font-size: 14px;
            color: #101B25;
            @media($sm-767){
                width: 48%;
              
                
            }

            &.btn-submit{
                background: #5090CC;
                border: 1px solid #5090CC;
                color: #fff;
            }


        }

        &.order-modal-footer{
            padding-top: 40px;
            padding-bottom: 40px;
            justify-content: center;
            .btn{
                width:323px;
                @media($sm-579){
                    width: 100%;
                }
            }
        }
    }

    .claim-summary {
        margin: 0px 40px;
        border-radius: 12px;
        padding: 22px 30px;
        background: #F3F6F9;
        @media($sm-767){
            margin: 0px 30px;
        }
      
        .claim-summary-title {
   
            font-weight: 600;
            font-size: 17px;
            color: #101B25;
            
        }
      
        .claim-summary-row {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 8px 0;
          margin-bottom: 0px;
         @media($sm-767){
             flex-direction: column;
             align-items: flex-start;
         }
          &:not(:last-child) {
            // margin-bottom: 6px;
          }
        }
      
        .claim-summary-label {
            color: #101B25;
            font-weight: 400;
        
            font-size: 16px;
        
            
        }
      
        .claim-summary-value {
          
            font-weight: 400;
        
            font-size: 16px;
         
            line-height: 20px;
            color: #101B25;
            text-align: right;
            
      
          &.highlight {
            font-weight: 500;
          }
        }
      }
      .reason-outer{
        background: #FFF9F9;
        border-radius: 12px;
        padding: 22px 30px;
        margin: 0px 40px;
        @media($sm-767){
            margin: 0px 30px;
        }
        .reason-title{
         
            font-weight: 600;
            color: #EA3C3C;
            font-size: 17px;
            margin-bottom: 22px;


        }
        .reason-content{
     
            font-weight: 400;
           
            font-size: 16px;
            color: #C16464;
            line-height: 20px;


        }
      }
}
    
.coverage-modal{
    .modal-dialog{
        @media(min-width: 660px){
            max-width: 605px;
        }
    }
    .coverage-modal-content {
        border-radius: 10px;
        padding: 40px 25px;
        
        .coverage-modal-title {
        
            font-weight: 500;
  
            font-size: 20px;
    
            color: #101B25;
            
        }
        .coverage-modal-body {
            padding: 0px;
            padding-top: 20px;

            .coverage-box {
                display: flex;
                border: 1px solid #EBEBEB;
                border-radius: 12px;
                padding:0px 21px;
                @media($sm-767){
                    flex-wrap: wrap;
                    padding: 0px;
                }
                .coverage-column-title{
                    padding-top: 21px;
                    font-weight: 500;
                    color: #101B25;
                    font-size: 15px;
                    margin-bottom: 28px;

                }
              }
            .coverage-list{
               
                padding-inline-start: 0px;
                li.coverage-item{
                    list-style-type: none;
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 20px;
                    color: #415362;
                    margin-bottom: 17px;
                    .coverage-icon{
                        margin-right: 7px;
                        flex-shrink: 0px;
                    }
                }
            }
          }
      }
        
  .coverage-column {
    width: 48%;
  
    @media($sm-767){
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
  }
  .coverage-divider {
    width: 1px;
    margin: 0px 20px;
    background: #e5e7eb;
    @media($sm-767){
        width: 100%;
        height: 1px;
        margin: 0px 0px;
    }
  }
  .coverage-help{
    background-color: #eff6ff;
    padding: 14px 8px;
    display: flex;
    align-items: flex-start;
    margin-top: 25px;
    .coverage-help-icon{
        flex-shrink: 0;
    margin-right: 8px;
    display: flex;
    align-items: flex-start;
    }
    .text-sec{

        font-weight: 400;
        color: #364153;
        font-size: 12px;
        line-height: 16px;
        .txt{
            display: block;
            a{
           
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                color: #4361EE;

            }
        }

    }
  }
}

.claim-form-modal.custom-modal{
    .modal-dialog{
        @media(min-width: 991px){
            max-width: 918px;
        }
    }
    .modal-body{
        padding: 0px;
        max-height: calc(100vh - 338px);
        overflow-y: auto;
        padding: 0px;
        @media($sm-767){
            max-height: unset;
            overflow: unset;
        }
    }
    .claim-form-content{
        border-radius: 17px;
        padding: 63px 0px 0px 40px;
        @media($sm-767){
            padding: 30px 0px 0px 30px;
        }
        .claim-form-header{
            padding-right: 40px;
            @media($sm-767){
                padding-right: 30px;
            }
            .claim-form-title{
                color: #101B25;
                font-weight: 500;
                font-size: 24px;
                line-height: 32px;
            }
            .claim-form-subtitle{
                font-weight: 400;
                font-size: 16px;
                color: #415362;
                line-height: 24px;

                span{
                    display: block;
                }
            }
        }
        .claim-product-card{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            background: #FFFFFF;
            border: 1px solid #ECEDEF;
            padding: 30px 21px;
            border-radius: 12px;
            margin-bottom: 43px;
            margin-right: 40px;
            @media($sm-991){
                flex-wrap: wrap;
            }
            @media($sm-767){
                margin-right: 30px;
            }
            @media($sm-579){
                padding: 0px;
                margin-bottom: 20px;
                border: 0px;
            }
            .left-sec{
                display: flex;
                align-items: center;
                @media($sm-991){
                    width: 100%;
                    margin-bottom: 20px;
                }
                @media($sm-579){
                    flex-wrap: wrap;
                    margin-bottom: 0px;
                
                }
                .img-sec{
                    width: 134px;
                    height: 134px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 12px;
                    }
                }
                .claim-product-info{
                    margin-left: 15px;
                    @media($sm-579){
                        width: 100%;
                        margin-left: 0px;
                        margin-top: 17px;
                    }
                    .product-name{
                 
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 28px;
                        color: #101B25;
                        margin-bottom: 10px;

                    }
                    .product-id{
                   
                        font-weight: 500;
              
                        font-size: 16px;
                        margin-bottom: 10px;
                        line-height: 24px;
                        color: #415362;
                        span{
                            color: #101B25;
                        }

                    }
                
                }
            }
        }
        .claim-product-meta{
           
            .purchase-date{

                font-weight: 500;

                font-size: 16px;

                line-height: 24px;
                color: #415362;
                text-align: right;
                margin-bottom: 10px;
                span{
                    color: #101B25;
                }

            }

            @media($sm-991){
                width: 100%;
                .purchase-date{
                    text-align: left;
                 
                }
            }
        }
    }

    .claim-details{
        margin-right: 40px;
        @media($sm-767){
            margin-right: 30px;
        }
        .claim-section-title{
            font-weight: 500;

            font-size: 20px;
            color: #415362;
            line-height: 28px;
            margin-bottom: 24px;
        }
        .form-group{
            margin-bottom: 16px;
            position: relative;
            .form-select{
                height: 48px;
                border: 1px solid #B8C4D0;
                border-radius: 50px;
    
                font-weight: 400;
    
                font-size: 16px;
                color: #101B25;
    
                letter-spacing: 0%;
    
            }
            .claim-textarea{
                min-height: 124px;
                border-radius: 12px;
                border: 1px solid #DFE1E3;
                box-shadow: 0px 1px 2px 0px #0000000A;
                padding: 12px 16px;
      
                font-weight: 400;
          
                font-size: 16px;
         
                line-height: 24px;
             


            }
            .claim-limit{
                position: absolute;
                right: 10px;
                bottom: 20px;
            }
         
    
        }
        .form-label{
            color: #101B25;
            font-weight: 500;
            font-style: Medium;
            font-size: 14px;
            span{
                color: #6D7983;
            }
        }
     

    }

    .claim-upload {
        margin-top: 16px;
      }
      
      .claim-upload-box {
        border: 2px dashed #B8C4D0;
        background: #F7FAFD;
        border-radius: 12px;
        padding: 28px;
        text-align: center;
        cursor: pointer;
      
        p {
            color: #101B25;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -1%;
            text-align: center;
            
      
          span {
      
            font-weight: 400;
    
            font-size: 14px;
            color: #415362;
            line-height: 20px;
            letter-spacing: 0%;
            
          }
        }
      }
      
      .claim-upload-icon {
        font-size: 28px;
        margin-bottom: 6px;
      }
      .modal-footer{
        padding-left: 0px;
        padding-right: 40px;
        padding-bottom: 40px;
        padding-top: 40px;
        border: none;
        @media($sm-767){
        
            padding-right: 30px;
            flex-wrap: nowrap;
        }
        .btn{
            width: 167px;
            height: 44px;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #DFE1E3;
       
            font-weight: 500;
       
            font-size: 14px;
            color: #101B25;
            @media($sm-767){
                width: 48%;
              
                
            }

            &.btn-submit{
                background: #5090CC;
                border: 1px solid #5090CC;
                color: #fff;
            }


        }

        &.order-modal-footer{
            padding-top: 40px;
            padding-bottom: 40px;
            justify-content: center;
            .btn{
                width:323px;
                @media($sm-579){
                    width: 100%;
                }
            }
        }
    }  
}
 
  
  /* Coverage Box */
 
  
 

  
  

// .claim-modal-content {
//     border-radius: 16px;
//     padding: 10px;
//   }
  
//   .claim-modal-header {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 16px 20px;
//     border-bottom: 1px solid #eee;
//   }
  
//   .claim-modal-title {
//     font-weight: 600;
//   }
  
//   .claim-modal-body {
//     padding: 20px;
//   }
  
  /* Timeline */
//   .claim-timeline {
//     margin-bottom: 24px;
//   }
  
//   .claim-step {
//     display: flex;
//     align-items: center;
//     gap: 12px;
//     margin-bottom: 20px;
//   }
  
//   .claim-step-icon {
//     width: 12px;
//     height: 12px;
//     border-radius: 50%;
//   }
  
//   .claim-step-icon.success {
//     background: #22c55e;
//   }
  
//   .claim-step-icon.warning {
//     background: #f59e0b;
//   }
  
//   .claim-step-content h6 {
//     margin: 0;
//     font-size: 14px;
//     font-weight: 600;
//   }
  
//   .claim-date {
//     font-size: 12px;
//     color: #999;
//   }
  
//   .claim-badge {
//     margin-left: auto;
//     background: #eef4ff;
//     color: #3b82f6;
//     font-size: 12px;
//     padding: 6px 10px;
//     border-radius: 20px;
//     white-space: nowrap;
//   }
  
//   /* Issue section */
//   .issue-title {
//     font-weight: 600;
//     margin-bottom: 12px;
//   }
  
//   .issue-label {
//     font-size: 13px;
//     font-weight: 500;
//     margin-top: 12px;
//   }
  
//   .issue-textarea {
//     margin-top: 6px;
//   }
  
//   .issue-limit {
//     display: block;
//     text-align: right;
//     font-size: 12px;
//     color: #999;
//   }
  
  /* Upload */
//   .upload-box {
//     margin-top: 10px;
//     border: 2px dashed #dbeafe;
//     border-radius: 12px;
//     padding: 30px;
//     text-align: center;
//     cursor: pointer;
//     background: #f8fbff;
//   }
  
//   .upload-icon {
//     font-size: 28px;
//     margin-bottom: 8px;
//   }
  
//   .upload-text {
//     font-size: 13px;
//     color: #555;
//   }
  
//   .upload-text span {
//     font-size: 12px;
//     color: #999;
//   }
  
//   /* Footer */
//   .claim-modal-footer {
//     display: flex;
//     justify-content: space-between;
//     padding: 16px 20px;
//     border-top: 1px solid #eee;
//   }
  