@import 'partials';

body{
    font-family: $primary-font !important;
}
img{
    max-width:100%;
}
a{
    text-decoration: none;
    display: inline-block;
}
input{
    box-shadow: none;
    outline: none;
}
.hover-opc{
    transition: .3s;
    &:hover{
        opacity: .8;
    }
}
.custom-container2{
    @media ($lg-1200 ){
        max-width: 1062px;
    }
    @media ($sm-1441){
        // max-width: 1300px;
    }
    // @media ($sm-767){
    //     max-width: 100%;
    // }
}
.custom-container02{
    @media ($lg-1200) {
             max-width: 850px;
            margin: auto;
        }

}
a{
    cursor: pointer;
    transition: .3s;
    &:hover{
        opacity: .8;
    }
}
.btn-1{
    background-color: $primary-blue;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 15px;
    border-radius: 30px;
    transition: .3s;
    border: none;
    &.modal-btn-border{
        background-color: transparent;
        border: solid 1px #DFE1E3;
        color: #101B25;
        &:hover{
            border-color: rgba($color: #101B25, $alpha: 0.6) !important;
        }
    }
    &:hover{
        opacity: .8;
    }
}
.border-btn{
    background-color: #fff !important;
    border: solid 1px #DFE1E3 !important;
    color: #101B25 !important;
    box-shadow: 0px 2px 4px 0px #2A455D0F;
    // &:hover{
    //     border-color: rgba($color: #101B25, $alpha: 0.6) !important;
    // }
}

 .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* dim overlay */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  .loader {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background:  linear-gradient(197.53deg, #5090CC 19.39%, #fff 76.11%);
      animation: spin 2s linear infinite;
      position: relative;
      &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 12px;
      right: 12px;
      bottom: 12px;
      background: #999;
      border-radius: 50%;
    }
    }

   

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    .loading-text{
        margin-top: 20px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: center;
        color: #fff;
    }
}

.cusotm-input-col{
    position: relative;
    margin-bottom: 20px;
    @media ($sm-1679) {
        margin-bottom: 17px;
    }
    .inp-label{
        color: #101B25;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 8px;
        @media ($sm-1679) {
            font-size: 13px;
            margin-bottom: 5px;
        }
    }
    .cutom-inp{
        border: 1px solid #DFE1E3;
        background-color: #fff;
        color: #7B8D9F;
        height: 48px;
        border-radius: 30px;
        padding: 10px 20px;
        box-shadow: none;
        @media ($sm-1679) {
            height: 44px;
            font-size: 14px;
        }
    }
    textarea.cutom-inp{
        height: 100px;
        border-radius: 12px;
        resize: none;
    }
    select.cutom-inp{
        background-image: url('../img/sel-arw.svg');
        background-repeat: no-repeat;
        background-position: calc(100% - 20px) center;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    .inp-req{
        position: absolute;
        left: 20px;
        top: calc(100% + 3px);
        font-size: 12px;
        line-height: 12px;
        color: red;
        @media ($sm-1679) {
            top: calc(100% + 2px);
            font-size: 11.2px;
            line-height: 11px;
        }
    }
}

.pagination-wrapper{
    display: flex;
    align-items: center;
    margin-top: 40px;
    @media ($sm-1679) {
        margin-top: 30px;
    }
    @media ($sm-479) {
        margin-top: 20px;
        flex-direction: column;
    }
    .pagination-label{
        font-size: 14px;
        font-weight: 500;
        color: rgba($color: #101B25, $alpha: 0.5);
        padding-right: 15px;
        @media ($sm-479) {
            padding-right: 0;
            margin-bottom: 15px;
        }
    }
    .pagination-num-block{
        margin-left: auto;
        @media ($sm-479) {
            margin-left: unset;
        }
        .pagination-num-cover{
            display: flex;
            align-items: center;
            .cntrl-btn{
            }
            .pg-round{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: #ffff;
                padding: 0;
                border: 0.78px solid #ECEEEB;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-size: 12px;
                color: rgba($color: #101B25, $alpha: 0.5);
                font-weight: 500;
                margin: 0 2.5px;
                transition: .3s;
                &:not(.pg-round-dots):hover{
                    background-color: #4882B8;
                    color: #fff;
                    img{
                        filter: brightness(0) invert(1);
                    }
                }
            }
        }
    }
}
.loader {
    display: inline-block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}
@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #5090cc, 1.8em -1.8em 0 0em rgba(80,144,204, 0.2), 2.5em 0em 0 0em rgba(80,144,204, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.5), -1.8em -1.8em 0 0em rgba(255,255,255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(80,144,204, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(80,144,204, 0.2), 1.75em 1.75em 0 0em rgba(80,144,204, 0.2), 0em 2.5em 0 0em rgba(80,144,204, 0.2), -1.8em 1.8em 0 0em rgba(80,144,204, 0.2), -2.6em 0em 0 0em rgba(80,144,204, 0.2), -1.8em -1.8em 0 0em rgba(80,144,204, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(80,144,204, 0.5), 1.8em -1.8em 0 0em rgba(80,144,204, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(80,144,204, 0.2), 0em 2.5em 0 0em rgba(80,144,204, 0.2), -1.8em 1.8em 0 0em rgba(80,144,204, 0.2), -2.6em 0em 0 0em rgba(80,144,204, 0.2), -1.8em -1.8em 0 0em rgba(80,144,204, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(80,144,204, 0.2), 1.8em -1.8em 0 0em rgba(80,144,204, 0.5), 2.5em 0em 0 0em rgba(80,144,204, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(80,144,204, 0.2), -1.8em 1.8em 0 0em rgba(80,144,204, 0.2), -2.6em 0em 0 0em rgba(80,144,204, 0.2), -1.8em -1.8em 0 0em rgba(80,144,204, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(80,144,204, 0.2), 1.8em -1.8em 0 0em rgba(80,144,204, 0.2), 2.5em 0em 0 0em rgba(80,144,204, 0.5), 1.75em 1.75em 0 0em rgba(80,144,204, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(80,144,204, 0.2), -2.6em 0em 0 0em rgba(80,144,204, 0.2), -1.8em -1.8em 0 0em rgba(80,144,204, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(80,144,204, 0.2), 1.8em -1.8em 0 0em rgba(80,144,204, 0.2), 2.5em 0em 0 0em rgba(80,144,204, 0.2), 1.75em 1.75em 0 0em rgba(80,144,204, 0.5), 0em 2.5em 0 0em rgba(80,144,204, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(80,144,204, 0.2), -1.8em -1.8em 0 0em rgba(80,144,204, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(80,144,204, 0.2), 1.8em -1.8em 0 0em rgba(80,144,204, 0.2), 2.5em 0em 0 0em rgba(80,144,204, 0.2), 1.75em 1.75em 0 0em rgba(80,144,204, 0.2), 0em 2.5em 0 0em rgba(80,144,204, 0.5), -1.8em 1.8em 0 0em rgba(80,144,204, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(80,144,204, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(80,144,204, 0.2), 1.8em -1.8em 0 0em rgba(80,144,204, 0.2), 2.5em 0em 0 0em rgba(80,144,204, 0.2), 1.75em 1.75em 0 0em rgba(80,144,204, 0.2), 0em 2.5em 0 0em rgba(80,144,204, 0.2), -1.8em 1.8em 0 0em rgba(80,144,204, 0.5), -2.6em 0em 0 0em rgba(80,144,204, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}



.details-mob-section{
    margin-bottom: 20px;
    @media (min-width: 768px) {
        display: none !important;
    }
}

.details-web-only{
    @media ($sm-767) {
        display: none !important;
    }
}

.media-item-fit{
    max-width: 100% !important;
    max-height: 100% !important;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}

.dimension-group.yes-no-group {
  gap: 12px;

  .chk-custom-wrp {
    position: relative;
        width: 33.3333333333%;

    .btn-check {
      display: none;
    }

    .payment-freq {
      min-width: 90px;
    //   padding: 10px 22px;
    //   border-radius: 8px;
    //   border: 1px solid #d1d5db;
    //   background: #fff;
    //   font-weight: 600;
    //   font-size: 14px;
    //   color: #374151;
    //   cursor: pointer;
    //   transition: all 0.25s ease;
      height: 40px;
          border: 1px solid #dfe1e3;
    background: #F4F5F6;
    border-radius: 50px;
    color: #101B25;
    font-size: 14px;
    outline: none;
    text-align: center;
    transition: all 0.2s ease;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    // height: 48px;
    width: 100%;
    display: flex
;
    align-items: center;
    justify-content: center;

      &:hover {
        border-color: #2563eb;
        color: #2563eb;
      }
    }

   
    .btn-check:checked + .payment-freq {
          border: 1px solid #5090CC;
    //   color: #fff;
      box-shadow: 0 4px 10px rgba(37, 99, 235, 0.25);
    }
  }
}