@import "partials";
.breadcrumb {
  padding: 30px 0px 16px 0px;
  margin: 0;
  @media ($sm-1679) {
    padding: 25px 0px 11px 0px;
  }
  @media ($sm-1481) {
    padding: 15px 0px;
  }
  .list {
    list-style: none;
    display: flex;
    font-size: 14px;
    padding: 0;
    margin: 0;
    @media ($sm-1679) {
      font-size: 13px;
    }
    @media ($sm-1481) {
      font-size: 12px;
    }
    @media ($sm-579) {
      font-size: 10px;
    }
    li {
      display: flex;
      align-items: center;
      a {
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        color: #7b8d9f;
        @media ($sm-1679) {
          font-size: 13px;
        }
        @media ($sm-1481) {
          font-size: 12px;
        }
        @media ($sm-579) {
          font-size: 10px;
        }
        &:hover {
          text-decoration: underline;
        }
        &.active {
          color: #101b25;
        }
      }
    }
    li + li:before {
      content: "";
      background-image: url(../img/gray-arrow.svg);
      width: 12px;
      height: 12px;
      background-repeat: no-repeat;
      margin: 0 8px;
      color: #999;
      @media ($sm-1679) {
        margin: 0px 6px;
      }
    }
  }
}
.custom-container-dwnld {
    @media (min-width: 1200px) {
        max-width: 1076px;
    }
}
.winx-dwnld-app{
    background: #F8F9FA;
}
.dwnld-winx-app{
    padding-top: 36px;
    background: #F8F9FA;
    border-bottom: 1px solid #DFE1E3;
    padding-bottom: 40px;

    .title{
        padding-bottom: 20px;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #122852;
        @media ($sm-1679) {
            font-size: 22px;
        }
        @media ($sm-1481) {
            font-size: 20px;
        }

    }
    .scan-sec{
        background: #FFFFFF;
        border-radius: 23px;
        padding: 80px 75px 70px 75px;
        @media($sm-1679){
            padding: 60px 65px;
        }
        @media($sm-1481){
            padding: 50px 55px;
        }
        @media($sm-1199){
            padding: 40px 45px;
        }
        @media($sm-991){
            padding: 30px;
        }
        .scan-inner-sec{
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media($sm-767){
                flex-wrap: wrap;
            }
            .left-wrap{
                flex: 1;
                margin-right: 45px;
                .scan-title{
            
                    font-weight: 600;        
                    font-size: 32px;         
                    line-height: 40px;
                    color: #101B25;
                    padding-bottom: 40px;
                    @media($sm-1679){
                        font-size: 28px;
                        line-height: 38px;
                        padding-bottom: 20px;
                    }
                    @media($sm-1481){
                        font-size: 26px;
                        line-height: 36px;
                        padding-bottom: 15px;
                    }
                    @media($sm-1199){
                        font-size: 24px;
                        line-height: 34px;
                    }
                    @media($sm-991){
                        font-size: 20px;
                        line-height: 30px;
                    }
                    @media($sm-767){
                        font-size: 18px;
                        line-height: 28px;
                        padding-bottom: 10px;
                    }
                    @media($sm-579){
                        font-size: 16px;
                        line-height: 26px;
                    }
                }
                .list-items{
                    ul{
                        // padding-inline-start: 0px;
                        li{
                          
                            font-weight: 400;                        
                            font-size: 16px;
                            color: #101B25;
                            line-height: 24px;
                            margin-bottom: 38px;
                            @media($sm-1679){
                                font-size: 15px;
                                margin-bottom: 28px;
                            }
                            @media($sm-1481){
                                font-size: 14px;
                                margin-bottom: 20px;
                            }                          
                        }
                    }
                }
                .txt{
                 
                    font-weight: 500;
                    padding-top: 20px;
                    font-size: 20px;
                    color: #101B25;
                    line-height: 24px;
                    letter-spacing: 0%;
                     @media ($sm-1679) {
                        font-size: 18px;
                        line-height: 22px;
                    }
                    @media($sm-767){
                        padding-top: 0px;
                    }
                }
            }
            .rt-wrap{
                width: 342px;
                @media($sm-991){
                    width: 280px;
                }
                @media($sm-767){
                    width: 100%;
                    margin-top: 20px;
                }
                img{
                    width: 100%;
                    height: 100%;
                }
            }

        }
    }
}

