@import "partials";

.slider-wrap {
    padding: 0 0 80px 0;
    @media ($sm-1679) {
        padding: 0 0 50px 0;
    }
    @media ($sm-991) {
        padding: 0 0 30px 0;
    }
    @media ($sm-579) {
        padding: 0 0 20px 0;
    }
    @media ($sm-479) {
        margin-top: 15px;
    }
    .banner-slider {
        margin: 0;
        padding: 0;
        .content-wrap {
            background-color: #d0def7;
            border-radius: 25px;
            display: flex !important;
            align-items: center;
            padding: 80px;
            min-height: 410px;
            background-repeat: no-repeat;
            background-position: center top;
            background-size: 100%;
            position: relative;
            @media ($sm-1679) {
                padding: 50px;
                min-height: 380px;
            }
            @media ($sm-1481) {
                min-height: 330px;
            }
            @media ($sm-1199) {
                min-height: 298px;
            }
            @media ($sm-991) {
                min-height: 222px;
            }
            @media ($sm-767) {
                padding: 25px 15px;
                border-radius: 20px;
                min-height: 164px;
            }
            @media ($sm-579) {
                min-height: 100px;
                aspect-ratio: 2;
            }
            @media ($sm-479) {
                aspect-ratio: 1.999;
            }
            .left-wrap {
                .title-wrap {
                    font-size: 48px;
                    color: #101b25;
                    font-weight: 700;
                    line-height: 1.4;
                    margin: 0;
                    padding: 0 0 25px 0;
                    max-width: 450px;
                    @media ($sm-1679) {
                        font-size: 42px;
                        padding: 0 0 20px 0;
                        max-width: 400px;
                        line-height: 1.2;
                    }
                    @media ($sm-1481) {
                        max-width: 370px;
                    }
                    @media ($sm-1199) {
                        font-size: 38px;
                        max-width: 310px;
                    }
                    @media ($sm-991) {
                        font-size: 32px;
                        padding: 0 0 10px 0;
                        max-width: 300px;
                    }
                    @media ($sm-767) {
                        font-size: 28px;
                        max-width: 220px;
                    }
                    @media ($sm-579) {
                        font-size: 22px;
                        max-width: 180px;
                    }
                    @media ($sm-479) {
                        font-size: 20px;
                        max-width: 150px;
                    }
                }
                .btn-wrap {
                    display: flex;
                    gap: 12px;
                    position: absolute;
                    left: 20px;
                    bottom: 20px;
                    @media ($sm-767) {
                        gap: 8px;
                        bottom: 10px;
                        left: 10px;
                    }
                    @media ($sm-479) {
                        gap: 5px;
                    }
                    .btn {
                        border-radius: 30px;
                        background: #5090cc;
                        height: 44px;
                        display: flex;
                        align-items: center;
                        text-align: center;
                        justify-content: center;
                        margin: 0;
                        padding: 5px 20px;
                        font-size: 14px;
                        color: #ffffff;
                        font-weight: 500;
                        min-width: 100px;
                        @media ($sm-1679) {
                            height: 40px;
                        }
                        @media ($sm-1199) {
                            font-size: 12px;
                            height: 38px;
                            min-width: 80px;
                        }
                        @media ($sm-991) {
                            height: 32px;
                        }
                        @media ($sm-767) {
                            height: 28px;
                        }
                        @media ($sm-579) {
                            min-width: auto;
                            padding: 5px 15px;
                        }
                        @media ($sm-479) {
                            padding: 5px 10px;
                            height: 28px;
                        }
                        &.white-bg {
                            background: #fff;
                            color: #101b25;
                        }
                    }
                }
            }
            &.align-right{
                 flex-direction: row-reverse !important; background-position: bottom left !important;
            }
            &.slide1 {
                background-image: url('../img/bnr-web-1.jpg');
                @media ($sm-579) {
                    background-image: url('../img/bnr-mob-1.jpg');
                }
            }
            &.slide2 {
                background-image: url('../img/bnr-web-2.jpg');
                @media ($sm-579) {
                    background-image: url('../img/bnr-mob-2.jpg');
                }
            }
            &.slide3 {
                background-image: url('../img/bnr-web-3.jpg');
                @media ($sm-579) {
                    background-image: url('../img/bnr-mob-3.jpg');
                }
            }
        }
        .slick-dots {
            position: absolute;
            right: 30px;
            bottom: 30px;
            gap: 8px;
            display: flex !important;
            justify-content: end;
            @media ($sm-1679) {
                right: 15px;
                bottom: 15px;
                gap: 5px;
            }
            @media ($sm-1199) {
            }
            li {
                margin: 0;
                padding: 0;
                width: auto;
                height: auto;
                button {
                    font-size: 0;
                    width: 8px;
                    height: 8px;
                    background: #fff;
                    border-radius: 30px;
                    padding: 0;
                    @media ($sm-1199) {
                        height: 6px;
                        width: 6px;
                    }
                    &:before {
                        display: none;
                    }
                }
                &.slick-active {
                    button {
                        background: #4882b8;
                        width: 28px;
                        @media ($sm-1199) {
                            width: 20px;
                        }
                    }
                }
            }
        }
    }
    &.slider-wrap2 {
        .banner-slider {
            .content-wrap {
                background-color: #bad6fa;
            }
        }
    }
}

.app-download-wrap {
    padding: 0 0 80px;
    @media ($sm-1679) {
        padding: 0 0 50px 0;
    }
    @media ($sm-991) {
        padding: 0 0 30px 0;
    }
    @media ($sm-579) {
        padding: 0 0 20px 0;
    }
    .content-wrap {
        border-radius: 25px;
        background: #d1e1f9;
        padding: 80px;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        @media ($sm-1679) {
            padding: 50px;
        }
        @media ($sm-1199) {
            padding: 30px;
            min-height: 300px;
        }
        @media ($sm-767) {
            padding: 25px 15px;
            border-radius: 20px;
            min-height: 230px;
        }
        @media ($sm-579) {
            min-height: inherit;
            padding: 40px 15px;
        }
        .title-wrap {
            font-size: 48px;
            color: #101b25;
            font-weight: 700;
            line-height: 1.4;
            margin: 0;
            padding: 0 0 25px 0;
            max-width: 450px;
            @media ($sm-1679) {
                font-size: 42px;
                padding: 0 0 20px 0;
                max-width: 400px;
                line-height: 1.2;
            }
            @media ($sm-1481) {
                max-width: 370px;
            }
            @media ($sm-1199) {
                font-size: 38px;
            }
            @media ($sm-991) {
                font-size: 32px;
                padding: 0 0 10px 0;
                max-width: 300px;
            }
            @media ($sm-767) {
                font-size: 28px;
                max-width: 250px;
            }
            @media ($sm-579) {
                font-size: 22px;
                max-width: 200px;
            }
            @media ($sm-479) {
                font-size: 20px;
                max-width: 180px;
            }
        }
        .btn-wrap {
            display: flex;
            width: 100%;
            gap: 12px;
            @media ($sm-991) {
                gap: 8px;
            }
            .btn {
                width: auto;
                height: auto;
                margin: 0;
                padding: 5px 25px;
                border: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #000000;
                height: 44px;
                border-radius: 30px;
                gap: 5px;
                outline: 0;
                cursor: pointer;
                @media ($sm-1199) {
                    height: 38px;
                    padding: 5px 20px;
                }
                @media ($sm-991) {
                    height: 34px;
                }
                @media ($sm-579) {
                    height: 28px;
                    padding: 5px 10px;
                }
                img {
                    max-width: 16px;
                    @media ($sm-991) {
                        max-width: 14px;
                        max-height: 14px;
                    }
                    @media ($sm-579) {
                        max-width: 10px;
                        max-height: 10px;
                    }
                }
                span {
                    font-size: 14px;
                    color: #ffffff;
                    font-weight: 500;
                    @media ($sm-1199) {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .app-download-img {
        height: 100%;
        @media ($sm-767) {
            display: none;
        }
        img {
            display: block;
            border-radius: 25px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
