@import "partials";

.acc-payment-sec-outer{
    padding-bottom: 60px;
    background-color: #F8F9FA;
    border-bottom: 1px solid #ECEDEF;
    @media ($sm-1679) {
        padding-bottom: 40px;
    }
    .custom-container{
        @media (min-width: 1200px) {
            
        }
    }
    .data-container{
        max-width: 845px;
        margin: 0 auto;
    }
    .tab-wrapper{
        margin: 0 0 25px 0;
        @media ($sm-1679) {
            margin: 0 0 20px 0;
        }
        ul {
            padding: 0;
            margin: 0 0 -1px 0;
            border-bottom: 1px solid #dfe1e3;
            display: flex;
            overflow: auto;
            overflow-y: hidden;
            scrollbar-width: thin;
            scrollbar-color: #5090cc transparent;
            padding: 0 0 1px 0;
            li {
                padding: 10px 0;
                margin: 0;
                list-style: none;
                white-space: nowrap;
                @media ($sm-1199) {
                    padding: 8px 0;
                }
                .tab-btn {
                    font-size: 14px;
                    color: #7b8d9f;
                    font-weight: 500;
                    padding: 0 15px;
                    position: relative;
                    display: block;
                    min-width: 180px;
                    text-align: center;
                    @media ($sm-1481) {
                        min-width: 160px;
                    }
                    @media ($sm-1199) {
                        font-size: 13px;
                    }
                    @media ($sm-991) {
                        padding: 0 10px;
                    }
                    @media ($sm-579) {
                        font-size: 12px;
                        min-width: auto;
                    }
                    &.active{
                        color: #5090cc;
                        &:after {
                            position: absolute;
                            width: 100%;
                            height: 1px;
                            background: #5090cc;
                            content: "";
                            left: 0;
                            bottom: -11px;
                            @media ($sm-1199) {
                                bottom: -9px;
                            }
                        }
                    }
                }
                    
                                    
            }
        }
    }
    .tab-title{
        font-size: 20px;
        font-weight: 500;
        color: #101B25;
        margin-bottom: 20px;
        @media ($sm-1679) {
            font-size: 18px;
        }
        @media ($sm-1481) {
            font-size: 16px;
        }
    }
    .active-payment-tab{
        .active-payment-list{
            .active-payment-card{
                border: 1px solid #F6F7F9;
                background-color: #fff;
                border-radius: 8px;
                margin-bottom: 15px;
                padding: 15px;
                .top-wrapper{
                    margin-bottom: 20px;
                    align-items: center;
                    .right-block{
                        flex-shrink: 0;
                        margin-left: auto;
                        .data-status{
                            display: inline-block;
                            padding: 5px 12px;
                            border-radius: 25px;
                            font-size: 14px;
                            color: #5090CC;
                            background-color: #EEF4FA;
                            @media ($sm-1679) {
                                font-size: 12px;
                            }
                            @media ($sm-579) {
                                padding: 3px 12px;
                            }
                            &.due{
                                background-color: #FCDADA;
                                color: #EF4444;
                            }
                        }
                    }
                    .left-block{
                        display: flex;
                        align-items: center;
                        .prod-img{
                            flex-shrink: 0;
                            .item-img{
                                width: 48px;
                                height: 48px;
                                border-radius: 50%;
                                object-fit: cover;
                                margin-right: 12px; 
                            }
                        }
                        .data-block{
                            padding-right: 10px;
                            h4{
                                font-size: 20px;
                                font-weight: 500;
                                color: #101B25;
                                margin-bottom: 3px;
                                display: -webkit-box;
                                -webkit-line-clamp: 1;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                @media ($sm-1679) {
                                    font-size: 18px;
                                }
                                @media ($sm-1481) {
                                    font-size: 16px;
                                }
                            }
                            p{
                                font-size: 16px;
                                color: #415362;
                                margin: 0;
                                @media ($sm-1679) {
                                    font-size: 14px;
                                }
                                @media ($sm-1481) {
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
                
                .btm-data-cover{
                    border-top: 1px solid #ECEDEF;
                    padding-top: 10px;
                    padding-bottom: 8px;
                    &:last-child{
                        padding-bottom: 0;
                    }
                    .inst-amnt-wrapper{
                        align-items: center;
                        justify-content: space-between;
                        @media ($sm-1679) {
                            font-size: 14px;
                        }
                        @media ($sm-1481) {
                            font-size: 13px;
                        }
                        .amnt-label{
                            color: #101B25;
                        }
                        .amnt{
                            font-family: $primary-font;
                            font-weight: 500;
                            color: #101B25;
                        }
                    }
                }
            }
        }
    }

    .completed-payment-list{
        .completed-payment-card{
            border: 1px solid #F6F7F9;
            border-radius: 8px;
            padding: 15px;
            background-color: #fff;
            margin-bottom: 15px;
            .det-block{
                display: flex;
                align-items: center;
                .prod-img{
                    flex-shrink: 0;
                    .item-img{
                        width: 48px;
                        height: 48px;
                        border-radius: 50%;
                        object-fit: cover;
                        margin-right: 12px; 
                    }
                }
                .data-block{
                    padding-right: 15px;
                    h4{
                        font-size: 20px;
                        font-weight: 500;
                        color: #101B25;
                        margin-bottom: 3px;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        @media ($sm-1679) {
                            font-size: 18px;
                        }
                        @media ($sm-1481) {
                            font-size: 16px;
                        }
                    }
                    p{
                        font-size: 16px;
                        color: #415362;
                        margin: 0;
                        @media ($sm-1679) {
                            font-size: 14px;
                        }
                        @media ($sm-1481) {
                            font-size: 13px;
                        }
                    }
                }               
            }
            .date-block{
                color: #415362;
                font-size: 16px;
                margin-left: auto;
                margin-right: 50px;
                flex-shrink: 0;
                @media ($sm-1679) {
                    font-size: 14px;
                }
                @media ($sm-1481) {
                    font-size: 13px;
                }
                @media ($sm-991) {
                    margin-right: 10px;
                }
                @media ($sm-767) {
                    margin-right: 0;
                }
                &.date-block-web{
                    @media ($sm-579) {
                        display: none;
                    }
                }
                &.date-block-mob{
                    width: 100%;
                    margin-left: 0;
                    padding-top: 15px;
                    @media (min-width: 580px) {
                        display: none;
                    }
                }
            }
            .status-block{
                display: flex;
                justify-content: flex-end;
                min-width: 80px;
                flex-shrink: 0;
                @media ($sm-579) {
                    min-width: 60px;
                }
                @media ($sm-579) {
                    margin-left: auto;
                    min-width: auto;
                }
                .status{
                    display: inline-block;
                    padding: 5px 15px;
                    border-radius: 25px;
                    font-size: 14px;
                    color: #1BB746;
                    background-color: #EAF7EA;
                    @media ($sm-1679) {
                        font-size: 12px;
                    }
                    @media ($sm-579) {
                        padding: 3px 12px;
                    }
                }
            }
        }
    }
    .payouts-tab{
        max-width: 458px;
        margin: 0 auto;
        padding: 30px 0 100px;
        @media ($sm-1679) {
            padding: 30px 0 80px;
        }
        @media ($sm-579) {
            padding: 0;
        }
        .payouts-cover{
            box-shadow: 0px 2px 4px 0px #0000000A;
            background-color: #fff;
            border: 1px solid #DFE1E3;
            border-radius: 8px;
            padding: 25px 15px 20px;
            .bal-wrapper{
                justify-content: space-between;
                align-items: center;
                padding-bottom: 25px;
                border-bottom: solid 1px #EEEEEE;
                .bal-label{
                    font-size: 14px;
                    color: #101B25;
                    font-weight: 500;
                }
                .bal-amt{
                    font-size: 21px;
                    color: #101B25;
                    font-weight: 500;
                    @media ($sm-1679) {
                        font-size: 18px;
                    }
                }
            }
            .btn-block{
                padding-top: 15px;
                .btn-1{
                    padding: 8px 15px;
                    font-size: 14px;
                }
            }
        }
    }
}