@import "partials";

.procuct-detail-new{
    .box-1{
        border: 1px solid #ECEDEF;
        box-shadow: 0px 2px 4px 0px #0000000A;
        background: #FFFFFF;
        display: flex;
        align-items: center;
        padding: 16px;
        border-radius: 16px;
        margin-bottom: 20px;
        .prodct-imgs{
            width: 72px;
            height: 72px;
            flex-shrink: 0;
            margin-right: 20px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }
        .order-pdct-detail{
            .title{
         
                font-weight: 500;
  
                font-size: 20px;
                color: #101B25;
        
                @media($sm-1679){
                    font-size: 18px;
                }
                @media($sm-1481){
                    font-size: 16px;
                    line-height: 20px;
                }

            }
            .subtitle{
                .sm-txt{
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0%;
                    color: #415362;
                    @media($sm-1679){
                        font-size: 15px;
                    }
                    @media($sm-1481){
                        font-size: 14px;
                    }
                    @media($sm-1199){
                        font-size: 13px;
                    }
                    .price{
                        color: #101B25;
                    }
                    &.mth-txt{
                        color: #101B25;
                    }

                }

            }
        }
        &.user-box{
            display: flex;
            justify-content: space-between;
            background: #F8F9FA;
            @media($sm-767){
                flex-wrap: wrap;
            }
            .order-pdct-detail{
                 .title{
                    font-size: 18px;
                    @media($sm-1679){
                        font-size: 16px;
                    }
                    @media($sm-1481){
                        font-size: 14px;
                    }
                 }
            }
           
            .lt-box{
                display: flex;
                align-items: center;
                @media($sm-767){
                    width: 100%;
                }
            }
            .rt-box{
                display: flex;
                align-items: center;
                @media($sm-767){
                    width: 100%;
                    margin-top: 10px;
                }
                .review-btn{
                    border: 1px solid #DFE1E3;
                    box-shadow: 0px 2px 4px 0px #2A455D0F;
                    background: #FFFFFF;
                    height: 36px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 147px;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    color: #5090CC;
                    border-radius: 50px;
                    margin-right: 15px;

                    .ico{
                        margin-right: 3px;
                        flex-shrink: 0;
                    }
                    &.ch-btn{
                        color: #101B25;
                        margin-right: 0px;
                        width: 92px;
                    }
                }

            }
            .lt-box{
                .prodct-imgs{
                    height: 52px;
                    width: 52px;
                    @media($sm-1679){
                        width: 48px;
                        height: 48px;
                    }
                    @media($sm-1481){
                        width: 44px;
                        height: 44px;
                    }
                    @media($sm-1199){
                        width: 40px;
                        height: 40px;
                    }
                }
            }
           

        }

    }
    .downld-box{
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #73A6D6;
        font-weight: 500;
        font-style: Medium;
        font-size: 20px;

        letter-spacing: -1.5%;
        color: #5090CC;
        width: 100%;
        background-color: #fff;
        border-radius: 16px;
        
        @media($sm-1679){
            font-size: 18px;
            height: 62px;
        }
        @media($sm-1481){
            font-size: 16px;
            height: 52px;
            border-radius: 12px;
        }
        @media($sm-1199){
            font-size: 14px;
        }
        @media($sm-767){
            font-size: 12px;
        }
        .dwnld-txt{
            text-decoration: underline;
        }
        .dwnld-bg{
            width: 48px;
            height: 48px;
            margin-right: 16px;
            flex-shrink: 0;
            @media($sm-1679){
                width: 46px;
                height: 46px;
            }
            @media($sm-1481){
                width: 42px;
                height: 42px;
            }
            @media($sm-1199){
                width: 40px;
                height: 40px;
                margin-right: 10px;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50px;

            }
        }
    }

    .order-txt{
            color: #101B25;
            font-weight: 500;
            font-size: 20px;
  
            padding: 20px 0px;
            @media($sm-1679){
                font-size: 18px;
               
            }
            @media($sm-1481){
                font-size: 16px;
            }
            @media($sm-1199){
                font-size: 14px;
            }

    }

    .outer-tbl-wrp{
        border: 1px solid #ECEDEF;
        border-radius: 12px;
        box-shadow: 0px 2px 4px 0px #0000000A;
        padding: 24px;
        margin-bottom: 14px;
        padding-bottom: 0px !important;
        padding-top: 0px !important;
        @media($sm-1679){
            padding: 20px;
        }
        @media($sm-1481){
            padding: 18px;
        }
        @media($sm-1199){
            padding: 16px;
        }
           .sp-table-wrap {
        padding: 0px;
        margin: 0 0 20px 0;
        @media ($sm-1679) {
            margin: 0 0 10px 0;
        }
        tr {
            .total-amt{
                border-top: 1px solid #ECEDEF;
            }
            td {
                &.td1 {
                    margin: 0;
                    padding: 0 0 20px 0;
                    font-family: $primary-font;
                    font-size: 16px;
                    color: #415362;
                    font-weight: 400;
                    line-height: 1.2;
                    width: 45%;
                    word-break: break-word;
                    @media ($sm-1679) {
                        padding: 0 0 12px 0;
                        font-size: 14px;
                    }
                    @media ($sm-1481) {
                        font-size: 13px;
                    }
                    @media ($sm-991) {
                        width: 60%;
                    }
                    @media ($sm-479) {
                        width: 50%;
                    }
                    @media (max-width: 400px) {
                        font-size: 12px;
                    }
                    .info {
                        width: 16px;
                        @media ($sm-1679) {
                            width: 14px;
                        }
                    }
                }
                &.td2 {
                    text-align: right;
                    margin: 0;
                    padding: 0 0 20px 0;
                    font-family: $primary-font;
                    font-size: 16px;
                    color: #101b25;
                    font-weight: 500;
                    line-height: 1.2;
                    width: 60%;
                    word-break: break-word;
                    @media ($sm-1679) {
                        padding: 0 0 12px 0;
                        font-size: 14px;
                    }
                    @media ($sm-1481) {
                        font-size: 13px;
                    }
                    @media ($sm-991) {
                        width: 40%;
                    }
                    @media ($sm-479) {
                        width: 50%;
                    }
                    @media (max-width: 400px) {
                        font-size: 12px;
                    }
                    span {
                        font-weight: 400;
                        color: #415362;
                    }
                }
            }
        }
        &.mr-0 {
            margin-bottom: 0;
        }
    }
    .price-txt{
    
        font-weight: 500;
        font-size: 20px;
        padding: 20px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media($sm-1679){
            font-size: 18px;
        }
        @media($sm-1481){
            font-size: 16px;
        }
        @media($sm-1199){
            font-size: 14px;
        }
        .edit-btn{
            background: #D5E8FF;
            border: 1px solid #D5E8FF;
            box-shadow: none;
            height: 27px;
            width: 124px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: #5090CC;
            border-radius: 13px;


        }
        .edit-ico{
            margin-right: 7px;
        }

    }
    .shipping-form{
        label{
 
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #101B25;
        }
        .form-control , .form-select{
            height: 42px;
            border-radius: 50px;
            display: flex;
            align-items: center;
            border: 1px solid #DFE1E3;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;

        }
        input[type="date"]{
            position: relative;
        }
        input[type="date"]::-webkit-calendar-picker-indicator {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
        .btn-grp{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 29px;
            padding-bottom: 20px;
            .btn{
            
                height: 44px;
                border: 1px solid #DFE1E3;
                box-shadow: 0px 2px 4px 0px #2A455D0F;
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #101B25;
                width: 49%;

                &.btn-primary{
                    background-color: #5090CC;
                    color: #fff;
                }
            }
        }
    }
    }
    .trans-tbl{
        thead{
            tr{
                th{
      
                    font-weight: 500;
                    font-size: 14px;
                    color: #101B25;
                    background: #F6F7F9;
                    padding: 16px 21px;
                    border-bottom: 0px;

                    &:first-child{
                        border-bottom-left-radius: 10px;
                        border-top-left-radius: 10px;
                        min-width: 180px;
                    }
                    &:nth-child(2){
                        min-width: 180px;
                    }
                    &:nth-child(3){
                        min-width: 130px;
                    }
                    &:nth-child(4){
                        min-width: 120px;
                    }
                    &:nth-child(5){
                        min-width: 160px;
                    }
                    &:last-child{
                        border-bottom-right-radius: 10px;
                        border-top-right-radius: 10px;
                        min-width: 240px;
                    }

                }
            }
     
        }

               tr{
                
                td{
                     padding: 10px 21px;
                    font-weight: 400;
                    font-size: 12px;
                    color: #415362;
                    border-bottom: 1px solid #ECEDEF;
                    // display: flex;
                    // align-items: center;
                    vertical-align: middle;

                }
            }

            .badge {
                padding: 4px 12px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: fit-content;
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0%;
                border-radius: 100px;
              
                &.bg-success{
                      color: #1BB746 !important;
                       background: #EAF7EA !important;
                }
                &.bg-fail{
                    background: #FDECEC !important;
                    color: #EF4444 !important;

                }
                &.bg-upcoming{
                    background: #FEF5E7 !important;
                    color: #F59E0B !important;
                }
            }
            .btn-sec{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .btn{
                    white-space: nowrap;
                    border: 1px solid #DFE1E3;
                    border-radius: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #5090CC;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    width: 100%;
                    margin-right: 5px;
                    margin-left: 5px;
                    @media($sm-1679){
                        font-size: 13px;
                    }
                    &.payfull{
                        background-color: #5090CC;
                        color: #fff;
                    }
                }
            }
    
    }
}

.mob{
    border-top: 1px solid #ECEDEF;
    td{
        // width: 100%;
    }
    .prtice-btn{

        font-weight: 500;
 
        font-size: 14px;
        color: #5090CC;
        display: flex;
        width: 100%;
        background-color: transparent;
        align-items: center;
        display: flex;
        justify-content: center;
        border: none;
        padding-top: 16px;
        padding-bottom: 16px;
        .ico{
            margin-left: 5px;
        }

        &.view-btn{
            .ico{
                    transform: rotateX(180deg);
            }
        }

    }
}

.down-payment-confirm-box{
    width: 100%;
    background-color: #F0FFE4;
    border-radius: 13px;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    margin-bottom: 20px;
    @media ($sm-991) {
        padding: 12px 15px;
    }
    .icon{
        flex-shrink: 0;
        margin-right: 15px;
        img{
            max-width: 19px;
        }
    }
    .info{
        font-size: 12px;
        color: #2A9623;
        font-weight: 500;
        @media ($sm-479) {
            font-size: 11px;
        }
        br{
            @media ($sm-991) {
                display: none;
            }
        }
    }
}
.procuct-detail-new .outer-tbl-wrp .sp-table-wrap {
    .tracking-id{
        color: #5090CC !important;
    }
    .txt-red{
        color: #EF3C38 !important;
    }
    .txt-orange{
        color: #F68922 !important;
    }
    .success-info{
        color: #1BB746 !important;
    }
    .order-copy-btn{
        padding: 0;
        background-color: #fff;
        border: none;
        margin-left: 5px;
        img{
            margin-top: -2px;
        }
    }
}
.procuct-detail-new .outer-tbl-wrp{
    .total-wrapper{
        margin-bottom: 25px;
        border-top: 1px solid #ECEDEF;
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 500;
        padding-top: 15px;
        @media ($sm-1679) {
            font-size: 14px;
        }
        @media ($sm-1481) {
            font-size: 13px;
        }
        .tot-label{
            color: #415362;
        }
        .tot-amt{
            color: #101B25;
        }
        
    }
    .sec-btn-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
        .btn-primary{
            height: 44px;
            border: none;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            width: calc(50% - 5px);
            background-color: #5090CC;
            color: #fff;
            transition: .3s;
            &:hover{
                opacity: .8;
            }
        }
    }
}
.procuct-detail-new .outer-tbl-wrp .shipping-form .btn-grp .btn{
    font-size: 14px;
}