@import "partials";

.protection-section {
    // padding: 30px;
    // background: #f9fbff;
    padding-top: 12px;
    padding-bottom: 14px;
    .protection-card {
        // border: 2px solid #2f80ff;
        border-radius: 12px;
        background: #fff;
        padding: 20px 40px 23px 17px;
        border: 1px solid #ECEDEF;
        box-shadow: 0px 2px 4px 0px #0000000A;
        @media(max-width:991px){
            padding-right: 20px;
        }
    
      }
  }
  

  
  /* HEADER */
  .protection-header {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
    @media($sm-991){
        justify-content: space-between;
    }
    @media(max-width:767px){
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
  
    .header-left {
      display: flex;
      align-items: center;
      width: 40%;
      @media(max-width:767px){
          margin-bottom: 18px;
          width: 100%;
      }
  
      .icon-wrapper {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        flex-shrink: 0;
        margin-right: 15px;
        img{
            width: 100%;
            height: 100%;

        }
      }
  
      .card-title {
            font-family: $primary-font;
            font-weight: 500;
            font-size: 20px;
            color: #101B25;
            @media($sm-991){
                font-size: 18px;
            }
            @media(max-width:348px){
                font-size: 16px;
            }

      }
    }
    
    .header-right{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-left: 100px;
        margin-right: 30px;
        width: 60%;
        @media($sm-991){
            margin-left: 0px;
            margin-right: 0px;
            justify-content: flex-end;
            width: 55%;
        }
        @media($sm-767){
            width: 100%;
            flex-wrap: wrap;
        }
        .plan-status{
            padding-right: 63px;
            @media($sm-991){
                padding-right: 10px;
            }
        }
        &.under-review{
            margin-right: 0px;
            justify-content: space-between;
            @media(max-width:767){
                width: 100%;
            }
        }

    }
  
    .plan-status,
    .claim-status {
      display: flex;
      align-items: center;
      @media(max-width:767px){
        margin-bottom: 10px;
        width: 100%;
    }
      .status-text {
        font-family: $primary-font;
        font-weight: 400;
 
        font-size: 16px;
        
        color: #415362;

    
      }

      .active-text{
        color: #101B25;
        font-weight: 500;
        font-family: $primary-font;
        font-size: 16px;
        display: flex;
        align-items: center;
        
    .status-dot {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        margin-right: 5px;
        margin-left: 7px;
      
        &.active {
          background: #22c55e;
        }
      
        &.inactive {
          background: #cbd5e1;
        }
        &.review{
            background-color: #FCA344;
        }
      }

        }
    }


  }
  

  .protection-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    @media(max-width:767px){
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .coverage-info {
      display: flex;
   
      @media(max-width:767px){
          width: 100%;
          flex-wrap: wrap;
          justify-content: space-between;
      }
      .coverage-item {
        display: flex;
        flex-direction: column;
        margin-right: 80px;
        @media($sm-1679){
            margin-right: 60px;
        }
        @media($sm-1481){
            margin-right: 40px;
        }
        @media(max-width:767px){
      
            width: 48%;
            margin-right: 0px;
            margin-bottom: 10px;
        }
      
      
    
  
        .label {
            font-family: $primary-font;
            font-weight: 400;
    
            font-size: 12px;
            margin-bottom: 7px;
            // line-height: 16px;
            color: #6A7282;
            @media(max-width:767px){
                margin-bottom: 5px;
            }
            
        }
  
        .value {
            font-family: $primary-font;
            font-weight: 600;
    
            font-size: 18px;
    
            // line-height: 28px;
         
            @media(max-width:767px){
                font-size: 16px;
                
            }
                
            
        }
      }
    }
  
    .action-area {
        @media(max-width:767px){
            width: 100%;
           
        }
      .claim-button {
        min-width: 217px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 14px;
        color: #5090CC;
        background-color: #fff;
        border: 1px solid #5090CC;
        border-radius: 50px;
        @media(max-width:767px){
            min-width: 100%;
            width: 100%;
            margin-top: 34px;
        }
        &:disabled {
            background-color: #fff;
            cursor: not-allowed;
            opacity: 0.6;
            border: none;
            @media(max-width:767px){
                margin-top: 0px;
            }
            &:hover{
                background:#fff;
                color: #5090CC;

            }
          }
        &:hover {
          background: #5090CC;
          color: #fff;
        }
      }
    }
  }

  .protection-footer {
    display: flex;
    align-items: center;

    background: #FEF5E7;

    padding: 7px 12px;
    border-radius: 50px;
    @media(max-width:767px){
        border-radius: 15px;
        align-items: flex-start;
    }
    .info-icon {
      width: 12px;
      height: 12px;
      flex-shrink: 0px;
      margin-right: 11px;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      @media(max-width:767px){
          margin-top: 2px;
      }
    }
  
    .claim-text {
        color: #F59E0B;
        font-weight: 400;
 
        font-size: 12px;
    
        
      margin: 0;
    }
  }
  

  .cover-link{
      display: flex;
      justify-content: flex-end;
      @media($sm-767){
          justify-content: center;
      }
      a{
        color: #346796;
        font-weight: 500;

        font-size: 14px;

        line-height: 12px;
  
        text-decoration: underline;
      
        
      }
  }