@import "partials";

.profile-head-wrap{ padding: 10px 0 40px 0; display: flex; justify-content: space-between; align-items: end;
    @media ($sm-1679) { padding-bottom: 30px;}
    @media ($sm-767) { flex-direction: column; align-items: start; padding-bottom: 40px;}
    .left-wrap{ width:510px;
        @media ($sm-767) { width: 100%;}
        .head-top-section{ display: flex; padding: 0 0 25px 0; align-items: center;
            @media ($sm-1679) { padding-bottom: 20px;}
            .img-wrap{ width: 90px; height: 90px;
                @media ($sm-1679) { width: 80px; height: 80px;}
                @media ($sm-1481) { width: 70px; height: 70px;}
                @media ($sm-767) { width: 66px; height: 66px;}
                @media ($sm-479) { width: 50px; height: 50px;}
                img{ width: 100%; height: 100%; object-fit: cover; border-radius: 100%;}
            }
            .detail-wrap{ padding: 0 0 0 25px; flex: 1;
                @media ($sm-1679) { padding-left: 15px;}
                 @media ($sm-767) { padding-left: 13px;}
                .name{ font-size: 24px; font-weight: 500; color: #101B25; padding: 0 0 5px 0; margin: 0; line-height: 1.3;
                    @media ($sm-1679) { font-size: 20px; padding-bottom: 3px;}
                    @media ($sm-1481) { font-size: 18px;}
                     @media ($sm-767) { font-size: 16px;}
                }
                .memeber{font-size: 14px; font-weight: 400; color: #415362; padding: 0 0 10px 0; margin: 0; line-height: 1.4;
                    @media ($sm-1679) { font-size: 13px; padding-bottom: 8px;}
                    @media ($sm-767) { font-size: 12px;}
                }
                .review{display: flex; align-items: center;
                    img{
                        &+img{margin-left: 3px;}
                    }
                }
            }
        }
        .community-wrap{ padding: 0 0 20px 0;
            @media ($sm-1679) { padding-bottom: 15px;}
            @media ($sm-767) { padding-left: 80px;}
            @media ($sm-479) { padding-left: 61px;}
            .title{ font-size: 14px; color: #101B25; font-weight: 500; line-height: 1.2; padding: 0 0 10px 0; margin: 0;}
            .list{ display: flex; margin: 0; padding: 0;
                li{ margin: 0; padding: 0; list-style: none;
                    .txt-wrap{ font-size: 16px; color: #415362; font-weight: 400;
                        @media ($sm-1679) { font-size: 14px;}
                        @media ($sm-479) { font-size: 13px;}
                        .num{ font-weight: 500; color: #101B25; padding: 0 8px 0 0;
                            @media ($sm-579) { display: block;}
                            @media ($sm-479) {font-size: 14px;}
                        }
                    }
                    &+li{ padding-left: 25px;
                        @media ($sm-1679) { padding-left: 20px;}
                        @media ($sm-1481) { padding-left: 15px;}
                        @media ($sm-479) { padding-left: 12px;}
                    }
                }
            } 
        }
        .btn-wrap{ padding-bottom: 20px;
            @media ($sm-1679) { padding-bottom: 15px;}
            @media ($sm-767) { padding-bottom: 20px;}
            .btn{ height: 36px; border-radius: 30px; margin: 0; padding: 0 30px; outline: 0; box-shadow: none; background: #F6F7F9; cursor: pointer; border: 0;
                @media ($sm-1679) { height: 34px;}
                span{ font-size: 14px; font-weight: 500;}
                img{ margin-right: 5px;}
                &.btn-fill{ background: #5090CC; margin-right: 10px;
                    span{ color: #FFFFFF;}
                }
                &.disabled{ opacity: .3; pointer-events: none;}
            }
        }
        .content-wrap{
            @media ($sm-767) { padding-bottom: 20px;}
            .para{ font-size: 16px; color: #415362; font-weight: 400; padding: 0; margin: 0; line-height: 1.6;
                @media ($sm-1679) { font-size: 14px;}
                .see-full{ font-weight: 500; color: #101B25;}
            }
        } 
    }
    .right-wrap{
        .share-profile-wrap{ padding: 0 0 80px 0;
            @media ($sm-1679) { padding-bottom: 50px;}
            @media ($sm-1481) { padding-bottom: 40px;}
            @media ($sm-767) { padding-bottom: 0px;}
            .title{ padding: 0 0 12px 0; margin: 0; font-size: 16px; color: #415362; font-weight: 500;
                @media ($sm-1679) { padding: 0 0 8px 0; font-size: 15px;}
                @media ($sm-767) { font-size: 16px;}
            }
            .list{ margin: 0; padding: 0; display: flex;
                li{margin: 0; padding: 0; list-style: none;
                    img{ width: 24px;
                        @media ($sm-1679) { width: 22px;}
                    }
                    &+li{ margin-left: 15px;
                        @media ($sm-1679) { margin-left: 10px;}
                    }
                }
            }
        }
    }
}

.online-wrap{ display: flex; padding: 0 0 80px 0;
    @media ($sm-1679) { padding-bottom: 50px;}
    @media ($sm-991) { padding-bottom: 40px; flex-direction: column;}
    .score-wrap{ width: 302px; 
        @media ($sm-1199) { width: 250px;}
        @media ($sm-991) { width: 100%; margin-bottom: 20px;}
        @media ($sm-767) { margin-bottom: 30px;}
        .box-wrap{ border: 1px solid #ECEDEF; box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.04); border-radius: 12px; padding: 20px;height: 100%; display: flex; flex-direction: column; justify-content: space-between;
            @media ($sm-1679) { padding: 15px;}
            @media ($sm-991) { align-items: center;}
            @media ($sm-767) { border: 0; padding: 0; box-shadow: none;}
            .title{ text-align : center; font-size: 18px; font-weight: 500; color: #101B25; padding: 0 0 10px 0; margin: 0;
                @media ($sm-1679) { font-size: 16px;}
                @media ($sm-1199) { font-size: 14px;}
                @media ($sm-767) { font-size: 16px; text-align: left; width: 100%;}
            }
            .graph{
                img{}
            }
            .num{ text-align: center; font-size: 16px; font-weight: 500; color: #415362; margin: 0; padding: 10px 0 0 0;
                @media ($sm-1679) { font-size: 14px;}
                @media ($sm-1199) { font-size: 12px;}
                @media ($sm-767) { font-size: 18px; color: #101B25;}
                span{ 
                    @media ($sm-767) { font-size: 14px; color: #101B25;}
                }
            }
        }
    }
    .overview-wrap{ flex: 1; padding: 0 0 0 15px;
        @media ($sm-991) { padding: 0;}
        .title{ font-size: 20px; font-weight: 500; color: #101B25; margin: 0; padding: 0 0 15px 0; 
            @media ($sm-1679) { font-size: 18px;}
            @media ($sm-1199) { font-size: 16px; padding-bottom: 10px;}
            @media ($sm-767) { font-size: 18px;}
        }
        .two-col{ display: flex; margin: 0 -6px; padding-bottom: 20px;
            @media ($sm-1679) { padding-bottom: 15px;}
            @media ($sm-767) { flex-direction: column; padding-bottom: 20px;}
            .box-wrap{padding: 0 6px; width: 50%;
                @media ($sm-767) { width: 100%;}
                .content-wrap{
                    @media ($sm-767) { display: flex; align-items: center;}
                    .num-para-wrap{
                        @media ($sm-767) { padding-left: 15px; flex: 1;}
                    }
                }
            }
        }
        .three-col{ display: flex; margin: 0 -6px; padding-bottom:0;
            @media ($sm-767) { flex-direction: column;}
            .box-wrap{padding: 0 6px; width: 33.3333%;
                @media ($sm-767) { width: 100%;}
            }
        }
        .box-wrap{
            @media ($sm-767) { margin-bottom: 10px;}
            .content-wrap{border: 1px solid #ECEDEF; border-radius: 12px; padding: 15px; height: 100%;
                @media ($sm-1679) { padding: 13px;}
                .box-top-wrap{ padding-bottom: 20px; display: flex; align-items: center;
                    .ico{ width: 36px;
                        @media ($sm-1679) { width: 32px;}
                        @media ($sm-1481) { width: 28px;}
                        @media ($sm-1199) { width: 25px;}
                        @media ($sm-767) { width: 32px;}
                        img{width: 100%;}
                    }
                    .sub-title-wrap{ font-size: 16px; color: #101B25; font-weight: 500; flex: 1; padding: 0 0 0 10px;
                        @media ($sm-1679) { font-size: 14px;}
                        @media ($sm-1481) { font-size: 12px;}
                        @media ($sm-767) { font-size: 16px;}
                    }
                }
                .num-para-wrap{ display: flex; align-items: center;
                    .num{ font-size: 24px; font-weight: 500; color: #101B25; padding: 0 0 5px 0; margin: 0; line-height: 1.3;
                        @media ($sm-1679) { font-size: 20px;}
                        @media ($sm-1481) { font-size: 18px;}
                        @media ($sm-767) { font-size: 20px;}
                    }
                    p{ color: #415362; font-size: 14px; font-weight: 400; padding: 0 0 0 8px; margin: 0; line-height: 1.4; flex: 1; display: flex; align-items: center;
                        @media ($sm-1679) { font-size: 13px;}
                        @media ($sm-1481) { font-size: 12px;}
                        @media ($sm-767) { font-size: 14px;}
                        img{ width: 16px; margin-left: 5px;
                            @media ($sm-1679) { width: 14px;}
                        }
                    }
                }
            }
            &.list-wrap{
                .content-wrap{
                    .box-top-wrap{ flex-direction: column; align-items: start;
                        .sub-title-wrap{padding: 0;}
                    }
                    .num-para-wrap{flex-direction: column; align-items: start;
                        p{padding: 0;}
                    }
                }
            }
        }
    }
    &.overview-option-wrap{ padding-bottom: 40px;
        @media ($sm-1679) { padding-bottom: 30px;}
        .overview-wrap{ padding: 0;
            .optin-for-col{padding-bottom: 35px;
                @media ($sm-1679) { padding-bottom: 30px;}
                .box-wrap{ width: 25%;
                    @media ($sm-767) { width: 100%;}
                }
            }
        }
        .change-col-wrap{
            @media ($sm-767) { display: flex; flex-direction: column; }
            .three-col{
                @media ($sm-767) { order: 1; padding-bottom: 20px;}
            }
            .optin-for-col{
                @media ($sm-767) { padding-bottom: 10px;}
            }
            .mob-col-1-wrap{
                @media ($sm-767) { order: 2;}
            }
        }
    }
}
.profile-review-wrap{
    .sec-title-wrap{ color: #101B25; font-size: 32px; font-weight: 600; margin: 0; padding: 0 0 20px 0; line-height: 1.3;
        @media ($sm-1679) { font-size: 30px; padding-bottom: 15px;}
        @media ($sm-1481) { font-size: 28px; padding-bottom: 10px;}
        @media ($sm-991) { font-size: 26px;}
        @media ($sm-767) { font-size: 24px;}
    }
    .preview-content-outer{
        .preview-tab-btn-cover{
            .preview-tab-btn-block{margin: 0; max-width: 520px;}
        }
        .preview-left-block{
            .tot-rating{color: #415362; font-size: 20px; font-weight: 500;
                @media ($sm-1679) { font-size: 18px;}
                @media ($sm-1481) { font-size: 16px;}
                @media ($sm-767) { font-size: 14px;}
                .cnt{  font-size: 32px; color: #101B25; font-weight:600;
                    @media ($sm-1679) { font-size: 30px;}
                    @media ($sm-1481) { font-size: 28px;}
                    @media ($sm-767) { font-size: 24px;}
                }
            }
        }
    }




    .rating-categories {
        display: flex;
        align-items: center;
        //  justify-content: space-between;
        padding-bottom: 30px;
        .items {
            border-top: 1px solid #dfe1e3;
            padding: 12px 24px;
            border-right: 1px solid #dfe1e3; width: 33.33333%;
            @media ($sm-1679) {
                padding: 10px 20px;
            }
            @media ($sm-1481) {
                padding: 8px 18px;
            }
            &:last-child {
                border-right: 0px;
                padding-right: 0px;
            }
        }
        .count {
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            text-align: center;
            color: #101b25;
            @media ($sm-1679) {
                font-size: 22px;
                line-height: 32px;
            }
            @media ($sm-1481) {
                font-size: 20px;
                line-height: 30px;
            }
            @media ($sm-1199) {
                font-size: 18px;
                line-height: 28px;
            }
            @media ($sm-991) {
                font-size: 16px;
                line-height: 26px;
            }
            @media ($sm-767) {
                font-size: 14px;
                line-height: 24px;
            }
        }
        .txt {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0%;
            text-align: center;
            color: #415362;
            @media ($sm-1679) {
                font-size: 13px;
            }
            @media ($sm-1481) {
                // font-size: 12px;
            }
        }
    }

    .summary-actions {
    padding-top: 32px;
    .btn {
        height: 44px;
        width: 100%;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #5090cc;
        color: #fff;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0%;
        @media ($sm-1679) {
            height: 38px;
            font-size: 13px;
        }
        @media ($sm-1481) {
            height: 36px;
        }
        &.follow-btn {
            border: 1px solid #dfe1e3;
            box-shadow: 0px 2px 4px 0px #2a455d0f;
            color: #101b25;
            background-color: transparent;
            margin-top: 12px;
        }
    }
}
.date-sec {
                display: flex;
                align-items: center;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0%;
                color: #101b25;
                padding: 10px 0 20px 0;
                .dot {
                    width: 4px;
                    height: 4px;
                    display: block;
                    margin: 0px 10px;
                    background-color: #101b25;
                }
            }


}


.overview-action-wrap{ padding: 0 0 80px 0;
    @media ($sm-1679) { padding-bottom: 60px;}
    @media ($sm-1481) { padding-bottom: 50px;}
    @media ($sm-991) { padding-bottom: 30px;}
    ul{ display: flex; flex-wrap: wrap; margin: 0 -12px; padding: 0;
        @media ($sm-579) { flex-direction: column; margin: 0; }
        li{ width: 50%;  margin: 0; padding: 0 12px 15px 12px; list-style: none;
            @media ($sm-579) { width: 100%; padding: 0 0 15px 0;}
            .link{display: block;}
            .content-wrap{ background: #F8F9FA; border-radius: 12px; display: flex; align-items: center; justify-content: space-between; padding: 12px 20px 12px 15px;
                @media ($sm-1679) { padding: 10px 15px 10px 15px;}
                @media ($sm-991) { padding: 8px 15px 8px 10px;}
                .left-wrap{ display: flex; align-items: center; width: 90%;
                    img{ width: 40px;
                        @media ($sm-1679) { width: 36px;}
                        @media ($sm-1199) { width: 34px;}
                    }
                    span{ color: #101B25; font-size: 16px; font-weight: 500; padding: 0 0 0 10px;
                        @media ($sm-1679) { font-size: 14px; padding-left: 5px;}
                        @media ($sm-991) { font-size: 13px; }
                    }
                }
                .arrow-wrap{
                    img{ width: 24px;
                        @media ($sm-1679) { width: 20px;}
                    }
                }
                &.logout{
                    .left-wrap{
                        span{ color: #EF4444;}
                    }
                }
            } 
        }
    }
}