@import "partials";

.add-social-modal {
  .custom-modal-body {
    background: none;
    margin: 0;
    padding: 0;
  }
  .custom-modal-content {
    background: none;
    border: 0;
  }
  .custom-modal-dialog {
    max-width: 100%;
  }
  .social-content-wrap {
    width: 515px;
    background: #fff;
    border-radius: 20px;
    padding: 30px 30px 50px 30px;
    margin: 0 auto;
    @media ($sm-1679) {
      padding: 20px 20px 30px 20px;
      width: 450px;
    }
    @media ($sm-479) {
      padding: 15px 15px 25px 15px;
      width: 98%;
    }
    .head-title-wrap {
      padding: 0 0 40px 0;
      position: relative;
      @media ($sm-1679) {
        padding-bottom: 20px;
      }
      @media ($sm-479) {
        padding-bottom: 15px;
      }
      .title {
        color: #101b25;
        font-size: 20px;
        font-weight: 600;
        @media ($sm-1679) {
          font-size: 18px;
        }
        @media ($sm-1481) {
          font-size: 16px;
        }
      }
      .modal-close-btn {
        background: none;
        cursor: pointer;
        width: 24px;
        height: 24px;
        margin: 0;
        padding: 0;
        outline: 0;
        box-shadow: none;
        position: absolute;
        right: -10px;
        top: -15px;
        border: 0;
        @media ($sm-1679) {
          width: 22px;
          height: 22px;
          top: -10px;
        }
        @media ($sm-479) {
          top: -5px;
          right: -5px;
          width: 20px;
          height: 20px;
        }
        img {
          display: block;
        }
      }
    }
    .list {
      margin: 0;
      padding: 0;
      li {
        margin: 0;
        padding: 20px;
        list-style: none;
        display: flex;
        justify-content: space-between;
        border: 1px solid #dfe1e3;
        border-radius: 15px;
        @media ($sm-1679) {
          padding: 15px;
        }
        @media ($sm-479) {
          flex-direction: column;
          padding: 10px;
        }
        .left-wrap {
          width: 70%;
          @media ($sm-479) {
            width: 100%;
          }
          .head-wrap {
            display: flex;
            align-items: center;
            img {
              width: 52px;
              @media ($sm-1679) {
                width: 45px;
              }
              @media ($sm-991) {
                width: 40px;
              }
            }
            .txt-wrap {
              padding: 0 0 0 12px;
              flex: 1;
              @media ($sm-1679) {
                padding-left: 10px;
              }
              .name {
                color: #101b25;
                font-size: 18px;
                font-weight: 600;
                margin: 0;
                padding: 0 0 5px 0;
                line-height: 1.3;
                @media ($sm-1679) {
                  font-size: 16px;
                  padding-bottom: 3px;
                }
                @media ($sm-479) {
                  font-size: 14px;
                }
              }
              .info-wrap {
                color: #415362;
                font-size: 14px;
                font-weight: 400;
                margin: 0;
                padding: 0;
                line-height: 1.4;
                @media ($sm-1679) {
                  font-size: 13px;
                }
              }
            }
          }
          .earn-wrap {
            padding: 20px 0 0 0;
            color: #1bb746;
            font-size: 12px;
            font-weight: 500;
            @media ($sm-1679) {
              padding-top: 15px;
            }
            @media ($sm-479) {
              padding-top: 10px;
            }
          }
        }
        .btn-wrap {
          padding: 20px 0 0 0;
          @media ($sm-1679) {
            padding-top: 10px;
          }
          .btn {
            height: 30px;
            background: #5090cc;
            cursor: pointer;
            outline: 0;
            box-shadow: none;
            border: 0;
            color: #ffffff;
            font-size: 14px;
            font-weight: 500;
            border-radius: 30px;
            margin: 0;
            padding: 0 20px;
            @media ($sm-1679) {
              font-size: 13px;
              height: 28px;
              padding: 0 15px;
            }
            @media ($sm-479) {
              width: 100%;
            }
          }
        }
        & + li {
          margin-top: 25px;
          @media ($sm-1679) {
            margin-top: 15px;
          }
        }
      }
    }
  }
}

.invite-friend-modal {
  .custom-modal-body {
    background: none;
    margin: 0;
    padding: 0;
  }
  .custom-modal-content {
    background: none;
    border: 0;
  }
  .custom-modal-dialog {
    max-width: 100%;
  }
  .invite-friend-wrap {
    width: 695px;
    background: #fff;
    border-radius: 20px;
    padding: 30px 30px 50px 30px;
    margin: 0 auto;
    @media ($sm-1679) {
      padding: 20px 20px 30px 20px;
      width: 650px;
    }
    @media ($sm-1481) {
      width: 600px;
    }
    @media ($sm-991) {
      width: 560px;
    }
    @media ($sm-767) {
      width: 550px;
    }
    @media ($sm-579) {
      width: 450px;
    }
    @media ($sm-479) {
      padding: 15px 15px 25px 15px;
      width: 98%;
    }
    .head-title-wrap {
      padding: 0 0 25px 0;
      position: relative;
      @media ($sm-1679) {
        padding-bottom: 20px;
      }
      @media ($sm-1481) {
        padding-bottom: 15px;
      }
      .title {
        color: #101b25;
        font-size: 20px;
        font-weight: 600;
        @media ($sm-1679) {
          font-size: 18px;
        }
        //@media ($sm-1481) { font-size: 16px; }
      }
      .modal-close-btn {
        background: none;
        cursor: pointer;
        width: 24px;
        height: 24px;
        margin: 0;
        padding: 0;
        outline: 0;
        box-shadow: none;
        position: absolute;
        right: -10px;
        top: -15px;
        border: 0;
        @media ($sm-1679) {
          width: 22px;
          height: 22px;
          top: -10px;
        }
        @media ($sm-479) {
          top: -5px;
          right: -5px;
          width: 20px;
          height: 20px;
        }
        img {
          display: block;
        }
      }
    }
    .form-wrap {
      padding: 0 0 60px 0;
      @media ($sm-1679) {
        padding-bottom: 40px;
      }
      .para {
        color: #101b25;
        font-size: 19px;
        font-weight: 500;
        opacity: 0.74;
        line-height: 1.4;
        max-width: 430px;
        padding: 0 0 25px 0;
        @media ($sm-1679) {
          font-size: 18px;
          max-width: 400px;
          padding-bottom: 20px;
        }
        @media ($sm-1481) {
          font-size: 16px;
          max-width: 360px;
          padding-bottom: 15px;
        }
        @media ($sm-991) {
          font-size: 14px;
          max-width: 300px;
        }
      }
      .fields-outer-wrap {
        position: relative;
        .fields-wrap {
          display: flex;
          .txt {
            height: 44px;
            border: 1px solid #dfe1e3;
            padding: 5px 25px;
            color: rgba(16, 27, 37, 1);
            font-size: 17px;
            font-weight: 400;
            border-radius: 13px;
            width: 100%;
            @media ($sm-1679) {
              height: 40px;
              font-size: 16px;
              padding: 5px 15px;
            }
            @media ($sm-1481) {
              font-size: 14px;
            }
            &::placeholder {
              opacity: 1;
              color: rgba(16, 27, 37, 0.24);
            }
          }
          .btn {
            height: 44px;
            border-radius: 30px;
            background: #5090cc;
            font-size: 17px;
            color: #ffffff;
            font-weight: 600;
            margin: 0 0 0 15px;
            padding: 2px 40px;
            flex: 1;
            @media ($sm-1679) {
              font-size: 16px;
              height: 40px;
              padding: 2px 30px;
              margin-left: 10px;
            }
            @media ($sm-1481) {
              font-size: 14px;
            }
            @media ($sm-479) {
              padding: 2px 20px;
            }
          }
        }
        .error {
          position: absolute;
          font-size: 12px;
          color: #ff0000;
        }
      }
    }
    .friend-list-wrap {
      .list-head-wrap {
        padding-bottom: 40px;
        @media ($sm-1679) {
          padding-bottom: 30px;
        }
        .title {
          color: #101b25;
          font-size: 20px;
          font-weight: 600;
          margin: 0;
          padding: 0 0 15px 0;
          @media ($sm-1679) {
            font-size: 18px;
            padding-bottom: 10px;
          }
          @media ($sm-1481) {
            font-size: 16px;
          }
        }
        .para {
          color: #101b25;
          font-size: 19px;
          font-weight: 500;
          opacity: 0.74;
          line-height: 1.4;
          padding: 0 0 15px 0;
          @media ($sm-1679) {
            font-size: 18px;
            padding-bottom: 10px;
          }
          @media ($sm-1481) {
            font-size: 16px;
          }
          @media ($sm-991) {
            font-size: 14px;
          }
        }
        .bar {
          background: #e5f2ff;
          height: 13px;
          width: 100%;
          background: #e5f2ff;
          border-radius: 13px;
          @media ($sm-1679) {
            height: 12px;
          }
          @media ($sm-1481) {
            height: 10px;
          }
          span {
            height: 13px;
            background: #5090cc;
            border-radius: 13px;
            display: block;
            @media ($sm-1679) {
              height: 12px;
            }
            @media ($sm-1481) {
              height: 10px;
            }
          }
        }
      }
      .list-content-wrap {
        min-height: 330px;
        border: 1px solid #c5dff7;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        @media ($sm-1679) {
          border-radius: 15px;
          min-height: 250px;
        }
        @media ($sm-579) {
          border-radius: 15px;
          min-height: 230px;
        }
        &:after {
          position: absolute;
          width: 1px;
          background: #c5dff7;
          content: "";
          height: 100%;
          inset: 0;
          margin: 0 auto;
          opacity: 0.3;
        }
        table {
          tr {
            th {
              width: 50%;
              background: #f6fbff;
              text-align: center;
              font-size: 18px;
              color: #101b25;
              font-weight: 500;
              padding: 15px 10px;
              border-bottom: 1px solid #c5dff7;
              @media ($sm-1679) {
                font-size: 16px;
                padding: 13px 15px;
              }
              @media ($sm-1481) {
                font-size: 14px;
              }
              @media ($sm-479) {
                padding: 13px 10px;
              }
              &:nth-child(1) {
                border-right: 1px solid #c5dff7;
              }
            }
            td {
              color: rgba(16, 27, 37, 0.74);
              font-size: 19px;
              font-weight: 500;
              text-align: center;
              padding: 20px 10px;
              line-height: 1.4;
              @media ($sm-1679) {
                font-size: 16px;
                padding: 15px 10px;
              }
              @media ($sm-1481) {
                font-size: 14px;
              }
              @media ($sm-479) {
                padding: 13px 10px;
                font-size: 13px;
              }
              .action {
                position: relative;
                display: inline-block;
                padding: 0 0 0 18px;
                @media ($sm-1679) {
                  padding-left: 15px;
                }
                &:after {
                  position: absolute;
                  width: 11px;
                  height: 11px;
                  border-radius: 50%;
                  background: #000;
                  content: "";
                  left: 0;
                  top: 8px;
                  @media ($sm-1679) {
                    width: 8px;
                    height: 8px;
                    top: 8px;
                  }
                  @media ($sm-1481) {
                    top: 5px;
                  }
                }
                &.pending {
                  &:after {
                    background: rgba(245, 158, 11, 1);
                  }
                }
              }
              //&:nth-child(1){border-right: 1px solid #C5DFF7;}
            }
          }
        }
      }
    }
  }
}
